.OnboardContainer {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.OnboardTitle {
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;

    text-align: center;
    letter-spacing: 0.5px;

    color: #574039;
}

.OnboardDescription {
    font-family: SF Pro Text;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 20px;
    text-align: center;

    color: #877867;

    margin-top: 2.22vh;
}

.OnboardItems {
    width: 82.67vw;
    margin-top: 4.43vh;
}

.OnboardItems > * {
    display: flex;
    align-items: center;
}

.OnboardItems > * > :last-child {
    margin-left: 4.27vw;

    font-family: SF Pro Text;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 20px;

    color: #525252;
}

.Onboard .ButtonNext {
    height: 7.14vh;
    width: 89.33vw;
    margin-top: 5.3vh;
}