.Placeholder {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.PlaceholderMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100vw;
    -webkit-transform: translateY(36vh);
    -moz-transform: translateY(36vh);
    -ms-transform: translateY(36vh);
    -o-transform: translateY(36vh);
    transform: translateY(36vh);

    font-family: SF Pro Display;
    font-style: normal;
    text-align: center;
    letter-spacing: 0.5px;
}

.PlaceholderButton {
    width: 89.33vw;
    height: 7.14vh;
}

.PlaceholderTitle {
    width: 76vw;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #574039;
}

.PlaceholderSubtitle {
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: #877867;

    margin-top: 12px;
}

.PlaceholderActions {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 27vh;
    width: 100vw;
}