body {
    --friend_lobbies_row_count: 3;
    --user_gallery_row_count: 5;
}

.vkuiPanel.vkuiPanel--regular .vkuiPanel__in {
    background: var(--background_content);
}

.Placeholder {
    margin: 74px 195px 64px 96px
}

.Main {
    margin-top: 48px;
    margin-left: 48px;
    width: 319px;
}

.Main .Colors__Container {
    padding: 0 24px;
    margin: 16px -24px 0;
}

.PlayContainer {
    position: absolute;
    top: 48px;
    right: 126px;
}

.Cards__Container > :last-child, .Cards2__Container > :last-child, .StatsCards__Container > :last-child {
    margin-left: 23px;
}

.vkuiPanelHeader__fixed {
    position: relative;
    margin: 48px 96px 0 80px;
}

.vkuiPanelHeader--android::before {
    height: 0;
}

.Gallery, .Rating, .Likes, .Shop, .GlobalCanvasInfo, .SuggestionsList {
    margin: 18px 96px 0 96px;
}

.Friends, .FriendLobby, .Stats, .Tags {
    margin: 18px 48px 0 48px;
}

.FriendLobbySettings {
    margin: 0 14px 0 14px;
}

.Gallery p, .Rating p, .Likes p, .GlobalCanvasInfo p {
    margin: 0;
}

.SearchGame {
    margin: 89px 190px;
}

.SearchGame h1 {
    margin: 0;
}

.Game, .ArtBattleRate {
    margin: 38px 18px 0 48px;
}

.ButtonExitGame {
    width: 112px;
    height: 32px;
    border-radius: 10px;
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    background-color: rgba(40, 43, 46, .2);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'SF Pro Display Medium';
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

.Comments_Container {
    height: 319px;
    width: 240px;
    margin-left: 35px;
}

.Comments {
    max-height: 263px;
}

.Comment_Input {
    margin-top: 14px;
    width: 240px;
}

.Result {
    margin: 53px 171px 53px 170px;
}

.Result .Button--lvl-secondary {
    margin-top: 28px;
}

.Canvas_Container, .Canvas_Container_Clear {
    position: relative;
    width: 319px;
    height: 319px;
    margin-top: 28px;

    background: #FFFFFF;
    border: 2px solid var(--custom_card_background);
    border-radius: 28px;
    overflow: hidden;
}

.Game .Canvas__, .ArtBattleRate .Canvas__ {
    width: 319px;
}

.Likes__Container {
    width: 310px;
}

/*.PictureInfo {
    margin: 18px 48.5px 0 96px;
}

.PictureInfo > .Canvas_Container .Actions_Container .LikeButton {
    width: 148px;
}

.PictureInfo > .Author_Container {
    width: 319px;
}

.PictureInfo > .Actions_Container {
    position: absolute;
    top: 122px;
    right: 48.5px;
    width: 154.5px;
}*/

.Offline_Drawing__Buttons {
    width: 319px;
}

.vkuiPromoBanner {
    width: 333px;
    bottom: 18px;
}

.MainTint {
    display: none;
}

.CardButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--border_color);
    border-radius: 21px;
    cursor: pointer;
    color: var(--color_secondary2);
    position: absolute;
    top: 316px;
    left: calc(263px + (144px - 12px - 12px) + 23px + 23px);
    width: 144px;
    height: 165px;
}

.CardButton span {
    margin-top: 4px;
}

.app_version {
    display: none;
}

.Main .PlayCards__Container {
    position: absolute;
    left: 458px;
    top: 47px;
    width: 154px;
}

.Main .PlayCards_Lobbies__Container > :last-child {
    margin-top: 8px;
}

.Main .PlayerPics_Container {
    margin-top: 4px;
}

.Game .vkuiSlider, .GlobalCanvas .vkuiSlider {
    width: 319px;
}

.Game .Offline_Drawing__Buttons {
    position: absolute;
    top: 92px;
    right: 56px;
    display: block;
    width: 188px;
}

.Game .TrainActions {
    position: absolute;
    top: calc(38px + 28px);
    right: 56px;
    display: block;
    width: 188px;
}

.CircleButtonBack {
    position: fixed;
    width: 48px;
    height: 48px;
    left: 56px;
    top: 56px;

    background: var(--background_content);
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.12);
    border-radius: 48px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    z-index: 2;
}

.PictureInfo {
    justify-content: center;
    margin: 1px 170px 66px 171px;
}

#picture_info {
    overflow: hidden;
}

.Result_New {
    margin: 63px 162px 0;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.Result_New .Actions_Container {
    bottom: 47px;
}

#feed .vkuiPanelHeader--vkcom,
#bookmarks .vkuiPanelHeader--vkcom {
    margin: 0 92px;
}

#feed .Panel_Container_Card-ManyCards > *,
#bookmarks .Panel_Container_Card-ManyCards > * {
    padding: 14px 16px;
    margin: 0 92px;
}

#feed .Panel_Container_Card-ManyCards > *:not(:first-child) > :nth-child(2),
#bookmarks .Panel_Container_Card-ManyCards > *:not(:first-child) > :nth-child(2) {
    width: calc(100vw - 16px - 16px - 92px - 92px);
    height: calc(100vw - 16px - 16px - 92px - 92px);
}

.Profile > .UserAvatarCover > img {
    width: 743px;
    height: 325px;
}

.Profile > .UserInfoContainer > .UserNameTags {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.Profile > .UserInfoContainer > .UserLvl {
    margin-top: 12px;
    width: 309px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.Profile > .UserInfoContainer > .ActionCards {
    width: 431px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.UserAvatarFrame {
    margin: 38px 162px;
}

.WeekGifts {
    margin: 74px 142px;
}

.Profile .AuthorWorks {
    margin: 24px 36px;
}

#gallery .Panel_Container_Card .MiniCard,
#guessed_pictures .Panel_Container_Card .MiniCard,
.Profile .AuthorWorks > *,
#search .Panel_Container_Card .MiniCards.MiniCardsPicture .MiniCard {
    width: 112px;
    height: 112px;
}

.GlobalCanvasBack {
    position: fixed;
    top: 56px;
    left: 56px;
    height: 48px;
    width: 48px;
    border-radius: 48px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    z-index: 2;
}

.GlobalCanvasActions {
    width: 300px;
    left: 50%;
    transform: translateX(-50%);
}

.ArtBattlePlaceholder {
    margin: auto auto;
    width: 280px;
}

.ArtBattle--Users {
    width: 240px;
    margin-top: 28px;
    margin-left: 35px;

    display: flex;
    flex-direction: column;
    gap: 18px;
}

.ArtBattle--Users > * {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
}

.ArtBattle--Users > * > span {
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.408px;
    color: var(--color_primary);
}

.ArtBattle--Users > * > :last-child {
    margin-left: auto;
}

.AdvertIntegration {
    margin: 139px 186px;
}

.DrawPanel > .DrawPanel--CanvasContainer > .DrawPanel--CanvasBottom {
    width: 319px;
}

.DrawPanel-Task > .DrawPanel--MessageBox {
    height: calc(100vh - var(--safe-area-inset-top) - var(--panelheader_height) - 429px - var(--safe-area-inset-bottom));
}

body[keyboard_on='0'] .DrawPanel-Drawer > .DrawPanel--MessageBox {
    height: calc(100vh - var(--safe-area-inset-top) - var(--panelheader_height) - (var(--n-canvas-size) + 34px) - var(--safe-area-inset-bottom) - (16px * 2) - 52px);
}

.DrawPanel > .DrawPanel--MessageBox {
    /*margin-bottom: calc(52px);*/
}

#marathon .Panel_Container_Card-TwoCards > :last-child {
    height: unset;
}