body {
    --color_system_primary: #000000;
    --background_content: #F9F9F9;
    --onboard_text_primary: #515151;
    --onboard_text_secondary: #747474;
    --header_text_primary: #545454;
    --background_content_2: #FFFFFF;
    --profile_title: #383838;
    --player_score_text: #515151;
    --tab_active_background: #EFEFEF;
    --tab_inactive_background: #F3F3F3;
    --text_linear_gradient: linear-gradient(90deg, #565656 91.15%, rgba(86, 86, 86, 0) 100%);
    --panelheader_shadow: linear-gradient(180deg, #FFFFFF 46.45%, rgba(255, 255, 255, 0) 100%);
    --result_score_background: #E6E6E6;
    --stroke_dark: rgba(0, 0, 0, 0.05);
    --button_text: #383838;
    --button_subtext: #969696;
    --button_background: #EFEFEF;
}

body[scheme='space_gray'], body[scheme='vkcom_dark'] {
    --color_system_primary: #DADADA;
    --background_content: #242424;
    --onboard_text_primary: #E0E0E0;
    --onboard_text_secondary: #797979;
    --header_text_primary: #E0E0E0;
    --background_content_2: #19191A;
    --profile_title: #F3F3F3;
    --player_score_text: #E0E0E0;
    --tab_active_background: #535353;
    --tab_inactive_background: #353535;
    --text_linear_gradient: linear-gradient(90deg, #DADADA 91.15%, rgba(218, 218, 218, 0) 100%);
    --panelheader_shadow: linear-gradient(180deg, #242424 46.45%, rgba(36, 36, 36, 0) 100%);
    --result_score_background: #2B2B2B;
    --stroke_dark: rgba(255, 255, 255, 0.05);
    --button_text: #FFFFFF;
    --button_subtext: #969696;
    --button_background: #2E2E2E;
}

p {
    margin: 0;
    padding: 0;
}

.mButton {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--button_background);
    border-radius: 20px;
}

.mButton > p {
    font-family: 'SF Pro Rounded Medium';
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.5px;
    color: var(--button_text);
}

.mButton--Secondary {
    background: none;
}

.mButton--Secondary > p {
    color: #737272;
}

.mButton--Negative {
    background: rgba(230, 70, 70, 0.1);
}

.mButton--Negative > p {
    color: #E64646;
}

.mButton--Secondary, .mButton--Negative {
    backdrop-filter: blur(24px);
}

/*=================================================================================================================*/

.Train_Container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: calc(var(--safe-area-inset-top) + var(--panelheader_height_ios) + 5.9vh) 28px 0 28px;
}

.Train_Container > .Train_TextContainer {
    width: 256px;
}

.Train_Container > .Train_TextContainer > .Train_Title {
    font-family: 'SF Pro Rounded Heavy';
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    letter-spacing: -0.24px;
    color: var(--onboard_text_primary);
}

.Train_Container > .Train_TextContainer > .Train_Description, .Train_Container .Train_Description {
    font-family: 'SF Pro Rounded Medium';
    font-size: 20px;
    line-height: 24px;
    color: var(--onboard_text_secondary);
}

.Train_Container > .Train_TextContainer > .Train_Description {
    text-align: center;
    margin-top: 16px;
}

.Train_Container > .Train_ActionsContainer {
    width: 319px;
    margin-top: 28px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#train1 .Train_Phone {
    position: fixed;
    bottom: -25.862069vh;
    left: 50%;
    transform: translateX(-50%);
    width: 36.9458128vh;
}

/*=================================================================================================================*/

.Train_Container--Centered {
    margin: 0 28px 0 28px;
    height: 100vh;
    justify-content: center;
}

.Train_Container--Centered > .Train_TextContainer {
    width: 278px;
}

.Train_Container--Centered > .Train_TextContainer > .Train_DescriptionList {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.Train_Container--Centered > .Train_TextContainer > .Train_DescriptionList > * {
    display: flex;
    align-items: center;
    gap: 16px;
}

.Train_Container--Centered > .Train_TextContainer > .Train_DescriptionList > * > div {
    min-width: 6px;
    min-height: 6px;
    max-width: 6px;
    max-height: 6px;
    border-radius: 3px;
    background: var(--onboard_text_secondary);
}

/*=================================================================================================================*/

.Popout_Placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: calc(100vh - 3.57142857vh);
}

.Popout_Placeholder > .Popout_Placeholder_Title {
    font-family: 'SF Pro Rounded Heavy';
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    letter-spacing: -0.24px;
    color: var(--onboard_text_primary);
}

.Popout_Placeholder > .Popout_Placeholder_Description {
    font-family: 'SF Pro Rounded Medium';
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.24px;
    color: var(--onboard_text_secondary);

    margin-top: 16px;
}

.Popout_Placeholder > .Popout_Placeholder_Title, .Popout_Placeholder > .Popout_Placeholder_Description {
    max-width: 256px;
}

.Popout_Placeholder > .mButton {
    width: 319px;
    margin-top: 28px;
}

/*=================================================================================================================*/

.Game_Container {
    margin: calc(var(--safe-area-inset-top) + var(--panelheader_height_ios)) 12px 0 12px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.Game_Container > .Game_Players_Container {
    width: 285px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.Game_Container > .Game_Players_Container > p {
    font-family: 'SF Pro Rounded Black';
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.3px;
    color: #CBCBCB;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.Game_Container > .Game_Players_Container > .Game_Player {
    display: flex;
    align-items: center;
    gap: 12px;
}

.Game_Container > .Game_Players_Container > .Game_Player > p {
    font-family: 'SF Pro Rounded Black';
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.3px;
    color: var(--player_score_text);
}

.Game_Container > .Game_Zone {
    border: 0.5px solid var(--stroke_dark);
    border-radius: 16px;
    margin-top: 4.43349754vh;
}

.Game_Container > .Game_Zone > .Game_Zone_Inner {
    margin: 12px;
    display: flex;
    gap: 8px;
}

.Game_Container > .Game_Zone > .Game_Zone_Inner > * {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.Game_Container > .Game_Zone > .Game_Zone_Inner > * > * {
    cursor: pointer;
    width: 20px;
    height: 20px;
    background: #FFECD6;
    border-radius: 10px;
}

.Game_Container > .Game_Turn {
    margin: 3.44827586vh 20.5px 0 20.5px;
    width: -webkit-fill-available;
    display: flex;
    justify-content: space-between;
}

.Game_Container > .Game_Turn > p {
    font-family: 'SF Pro Rounded Bold';
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.3px;
    color: #9B9B9B;
}

.Game_Container > .Game_Dice {
    width: 64px;
    height: 64px;
    margin-top: 3.44827586vh;
}

.Game_Container > .mButton {
    margin-top: 4.43349754vh;
    width: 319px;
}

/*=================================================================================================================*/

.FullScreen_Alert {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.9);
}

.FullScreen_Alert > .FullScreen_Alert_Icon {
    width: 64px;
    height: 64px;
    background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(24px);
    border-radius: 32px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.FullScreen_Alert > .FullScreen_Alert_Text_Container {
    width: 327px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.FullScreen_Alert > .FullScreen_Alert_Text_Container > .FullScreen_Alert_Title {
    font-family: 'SF Pro Rounded Semibold';
    font-size: 19px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.25px;
    color: #FFFFFF;
}

.FullScreen_Alert > .FullScreen_Alert_Text_Container > .FullScreen_Alert_Description {
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: rgba(255, 255, 255, 0.75);
}

.FullScreen_Alert > .FullScreen_Alert_Buttons_Container {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.FullScreen_Alert > .FullScreen_Alert_Buttons_Container .mButton {
    width: 319px;
}

/*=================================================================================================================*/

.RouletteItems {
    display: flex;
    gap: 6px;
}

.RouletteItems > *, .Chances > * > :last-child {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: SF Pro Rounded;
    font-size: 16px;
    color: white;
}

.RouletteItems > .black {
    background: black;
}

.RouletteItems > .red {
    background: red;
}

.RouletteItems > .green {
    background: green;
}

.Chances {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.Chances > * {
    display: flex;
    gap: 12px;
}

.Chances > * > :last-child {
    background: #8fd9cb;
    color: black;
}

/*=================================================================================================================*/

.stretched > * {
    flex: 1;
}

.stretched > .IconButton {
    flex: none;
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
}