.Friends {
    height: 100%;
}

.Friends .SlideTitle {
    margin: 38px 22px 0;
}

.Friend {
    z-index: 9;
    position: relative;
    margin: 9px 16px;
    display: flex;
    align-items: center;
}

.FriendName {
    margin-left: 16px;
    font-family: SF Pro Text;
    font-style: normal;
    letter-spacing: -0.25px;
    font-weight: 600;
    font-size: 17px;
    line-height: 20px;
    color: #574039;
}

.FriendButton {
    margin-left: auto;
    width: 35vw;
    height: 43px;

    background: rgba(107, 99, 86, 0.1);
    color: #6B6356;
    font-family: SF Pro Text Medium;
    font-weight: 500;
}

.FriendsOfflineTitle {
    margin: 8px 16px 12px;
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.5px;
    color: #877867;
}

.GetFriends {
    margin: 12px auto;
    height: 48px;
}