.More {
    height: auto;
    width: 100vw;
    padding-top: 16px;
}

.MoreList > * {
    display: flex;
    align-items: center;
    margin: 12px 18px;
    width: 100%;
}

.MoreList > * > :last-child {
    margin-left: 18px;
    font-family: SF Pro Text;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.25px;
    color: #574039;
}