.Rating {
    height: 100%;
    --accent: #877867;
}

.Rating .InfoBanner {
    color: #574039;
    background: rgba(255, 255, 255, 0.4);
    margin: 30px 18px 0;
}

.Best3Players {
    margin-top: 11px;
    display: flex;
    overflow-x: scroll;
}

.Best3Players:first-child:before, .Best3Players:last-child:after {
    content: '';
    min-width: 14px;
}

.Best3Players > * > :last-child {
    font-family: SF Pro Display;
    font-style: normal;
    letter-spacing: 0.5px;
    margin-left: 14px;
}

.Best3Players > * > :last-child > :first-child {
    font-weight: bold;
    font-size: 24px;
    line-height: 14px;
    color: #574039;
}

.Best3Players > * > :last-child > :last-child {
    font-weight: 500;
    font-size: 18px;
    color: #938371;
    margin-top: 12px;
}

.RatingTitle {
    margin: 43px 19px 22px;
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 14px;

    letter-spacing: 0.5px;

    color: #574039;

    display: flex;
    align-items: center;
    position: relative;
}

.RatingList {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 12px;
}

.RatingList .PlayersList {
    width: 100%;
}

.Spacing {
    min-width: 91.5vw;
    min-height: 1px;
    background: rgba(87, 64, 57, 0.05);
    border-radius: 2px;
    margin: 8px 16px;
}

.RatingPlayer {
    display: flex;
    align-items: center;
}

.RatingPlayer :first-child {
    min-width: 20vw;
    font-family: SF Pro Text;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 16px;
    color: #ADA090;
    text-align: center;
}

.RatingPlayer img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.RatingPlayer :last-child :first-child {
    margin: 0 16px;
    width: 100%;
    font-family: SF Pro Text;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: -0.25px;

    color: #574039;
    text-align: left;
}

.RatingPlayer :last-child :last-child {
    margin: 6px 16px 0;
    width: 100%;
    font-family: SF Pro Text;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: -0.25px;
    color: rgba(87, 64, 57, 0.5);
    text-align: left;
}

.Rating .vkuiCustomSelect {
    cursor: none;
    width: auto;
    position: absolute;
    right: 0;
}

.Rating .vkuiFormField--ios, .Rating .vkuiFormField--android {
    border-radius: 20px;
    height: 36px;
}

.Rating .vkuiFormField__border, .Rating .vkuiCustomSelect__options, .Rating .vkuiCustomSelectOption {
    /*background: none;*/
    border: none;
}

.Rating .vkuiSelect__container, .Rating .vkuiFormField__after, .Rating .vkuiCustomSelectOption {
    cursor: none;
    font-family: SF Pro Text;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.24px;
    color: #574039;
}

.Rating .vkuiCustomSelect__options {
    border-radius: 0 0 20px 20px;
}