.Shop {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

#Slide1 {
    /*position: relative;*/
    overflow: hidden;
}

.ShopItemContainer {
    position: absolute;
    -webkit-transform: translateY(calc(4vh + 15vh));
    -moz-transform: translateY(calc(4vh + 15vh));
    -ms-transform: translateY(calc(4vh + 15vh));
    -o-transform: translateY(calc(4vh + 15vh));
    transform: translateY(calc(4vh + 15vh));
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Shop .ButtonBuy {
    position: absolute;
    bottom: 26.5vh;
}

.Gallery__slide > * {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Shop .Gallery {
    min-height: 100%;
    min-width: 100%;
}

.ShopItemText {
    position: absolute;
    -webkit-transform: translateY(10vh);
    -moz-transform: translateY(10vh);
    -ms-transform: translateY(10vh);
    -o-transform: translateY(10vh);
    transform: translateY(10vh);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ShopItemTitle {
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 14px;

    text-align: center;
    letter-spacing: 0.5px;

    color: #574039;
    min-width: 80vw;
    max-width: 80vw;
}

.ShopItemSubTitle {
    margin-top: 12px;
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 17px;

    text-align: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;

    color: #C6B39F;
    min-width: 40vw;
    max-width: 40vw;
}

.ShopItemCount {
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 0.5px;
    color: #938371;
    margin-top: 16px;
}

.ShopMTextWithIcon {
    position: relative;
}

.ShopInfoIcon {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.MoreContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.Shop > :first-child {
    -webkit-animation: showOpacity 400ms ease-in-out;
    -o-animation: showOpacity 400ms ease-in-out;
    animation: showOpacity 400ms ease-in-out;
}

.MoreContainer .vkuiGallery__slide,
.MoreContainer .vkuiGallery__layer,
.MoreContainer .vkuiGallery__viewport,
.MoreContainer .Gallery {
    height: min-content;
}