.ChampionBanner {
    min-height: 102px;
    border-radius: 21px;
    position: relative;
    margin: 0 auto;
}

.ChampionBanner[type="0"], .ChampionBanner[type="1"] {
    background: /*url("https://thumbs.dreamstime.com/b/grain-texture-overlay-background-your-desig-dusty-overlay-texture-67431793.jpg"), */linear-gradient(90deg, #636566 0%, #767878 100%);
}

.ChampionBanner[type="2"] {
    background: linear-gradient(90deg, #D08159 0%, #3F233C 100%);
}

.ChampionBanner[type="3"] {
    background: linear-gradient(90deg, #0F4A4C 0%, #2C354D 100%);
}

.ChampionBanner[type="4"] {
    background: linear-gradient(90deg, #000000 0%, #D08159 100%);
}

.ChampionBanner[type="5"] {
    background: linear-gradient(90deg, #89A257 0%, #283540 100%);
}

.ChampionBanner[type="6"] {
    background: linear-gradient(90deg, #293268 0%, #6B74B2 100%);
}

.ChampionBanner[type="7"] {
    background: linear-gradient(90deg, #52333F 0%, #B45252 100%);
}

.TopChampionTitle {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.UserChampionContainer {
    position: absolute;
    margin: 26px 15px 0;
    display: flex;
    align-items: center;
}

.UserChampionText {
    margin-left: 11px;
}

.UserChampionText :first-child {
    font-family: SF Pro Text;
    font-style: normal;
    font-weight: normal;
    font-size: 14.72px;
    line-height: 18px;
    letter-spacing: -0.2944px;
    color: #FFFFFF;
}

.UserChampionText :last-child {
    margin-top: 3px;
    font-family: SF Pro Text;
    font-style: normal;
    font-weight: normal;
    font-size: 11.96px;
    line-height: 15px;
    letter-spacing: -0.07176px;
    color: rgba(255, 255, 255, 0.4);
}

.ChampionStars {
    position: absolute;
    margin-left: 11px;
    margin-top: 71px;
}

.ChampionIconContainer {
    position: absolute;
    right: 28px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}