body {
    --scale-value: 1;
    --client-width: 375;
    min-height: 100vh;
}

.Panel {
    height: 100vh;
}

#root {
    overflow-x: hidden;
}

.Panel .Panel__in, .Panel::after {
    position: fixed;
    background: linear-gradient(180.02deg, #FEF3E9 0.01%, #D9C296 99.99%) no-repeat;
}

#main .Panel__in {
    overflow-y: inherit;
    overflow-x: inherit;
}

.Panel__in {
    height: 100%;
}

.Panel__in {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.Panel__in::-webkit-scrollbar {
    display: none;
}

#root {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#root::-webkit-scrollbar {
    display: none;
}

.Background {
    z-index: -1;
    position: fixed;
    top: 55%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(var(--scale-value));
    -moz-transform: translate(-50%, -50%) scale(var(--scale-value));
    -ms-transform: translate(-50%, -50%) scale(var(--scale-value));
    -o-transform: translate(-50%, -50%) scale(var(--scale-value));
    transform: translate(-50%, -50%) scale(var(--scale-value));
}

.Background > .Fog {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.SliderPanel {
    margin-top: 40px;
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
}

.SlideEnterLeft {
    -webkit-animation: SlideEnterLeft 200ms ease-in-out;
    -o-animation: SlideEnterLeft 200ms ease-in-out;
    animation: SlideEnterLeft 200ms ease-in-out;
}

@keyframes SlideEnterLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100vw);
        -moz-transform: translateX(-100vw);
        -ms-transform: translateX(-100vw);
        -o-transform: translateX(-100vw);
        transform: translateX(-100vw);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
}

.SlideEnterRight {
    -webkit-animation: SlideEnterRight 200ms ease-in-out;
    -o-animation: SlideEnterRight 200ms ease-in-out;
    animation: SlideEnterRight 200ms ease-in-out;
}

@keyframes SlideEnterRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100vw);
        -moz-transform: translateX(100vw);
        -ms-transform: translateX(100vw);
        -o-transform: translateX(100vw);
        transform: translateX(100vw);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
}

.SlideEnterTop {
    -webkit-animation: SlideEnterTop 200ms ease-in-out;
    -o-animation: SlideEnterTop 200ms ease-in-out;
    animation: SlideEnterTop 200ms ease-in-out;
}

@keyframes SlideEnterTop {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-100vh);
        -moz-transform: translateY(-100vh);
        -ms-transform: translateY(-100vh);
        -o-transform: translateY(-100vh);
        transform: translateY(-100vh);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
}

.SlideExitBottom {
    -webkit-animation: SlideExitBottom 200ms ease-in-out;
    -o-animation: SlideExitBottom 200ms ease-in-out;
    animation: SlideExitBottom 200ms ease-in-out;
}

@keyframes SlideExitBottom {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(-100vh);
        -moz-transform: translateY(-100vh);
        -ms-transform: translateY(-100vh);
        -o-transform: translateY(-100vh);
        transform: translateY(-100vh);
    }
}

.SlideExitLeft {
    -webkit-animation: SlideExitLeft 200ms ease-in-out;
    -o-animation: SlideExitLeft 200ms ease-in-out;
    animation: SlideExitLeft 200ms ease-in-out;
}

@keyframes SlideExitLeft {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translateX(100vw);
        -moz-transform: translateX(100vw);
        -ms-transform: translateX(100vw);
        -o-transform: translateX(100vw);
        transform: translateX(100vw);
    }
}

.SlideExitRight {
    -webkit-animation: SlideExitRight 200ms ease-in-out;
    -o-animation: SlideExitRight 200ms ease-in-out;
    animation: SlideExitRight 200ms ease-in-out;
}

@keyframes SlideExitRight {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translateX(-100vw);
        -moz-transform: translateX(-100vw);
        -ms-transform: translateX(-100vw);
        -o-transform: translateX(-100vw);
        transform: translateX(-100vw);
    }
}

.Slide {
    display: flex;
    flex-flow: column;
    height: 100%;

    -webkit-transition: all 200ms;
    -moz-transition: all 200ms;
    -ms-transition: all 200ms;
    -o-transition: all 200ms;
    transition: all 200ms;
}

.Slide > {
    flex: 1 1 auto;
}

.HiddenScrollBar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.HiddenScrollBar::-webkit-scrollbar {
    display: none;
}

.SPanel {
    animation: showOpacity 200ms ease-in-out;
}

.ShowOpacity {
    animation: showOpacity 400ms ease-in-out;
}

@keyframes showOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes hideOpacity {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.CustomPopoutContainer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    height: 100vh;
    width: 100vw;
    pointer-events: none;
    z-index: 100;
}

.SlideTitle {
    margin-top: 38px;
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 14px;
    letter-spacing: 0.5px;
    color: #574039;
}

.SlideDescription {
    margin-top: 12px;
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.5px;
    color: #877867;
}

.SlideSubtitle {
    margin-top: 24px;
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.5px;
    color: #877867;
}

.vkuiModalCard__in {
    width: 95vw;
}

.vkuiModalCard__container {
    background: #F1E6D5;
    border-radius: 28px;
}

.vkuiModalCard__icon {
    color: #6B6356;
}

.vkuiModalCard__header {
    color: #574039;
}

.vkuiModalCard__subheader {
    color: rgba(87, 64, 57, 0.75);
}

.vkuiModalCard__dismiss {
    color: #6B6356;
}

.PromoBanner {
    background: rgba(0, 0, 0, .5);
    border-radius: 21px;
    outline: none;
}

.PromoBanner .SimpleCell--ios, .PromoBanner .SimpleCell--andoid, .PromoBanner .PromoBanner__head {
    padding-left: 16px;
    padding-right: 16px;
    max-height: 48px;
}

.PromoBanner .SimpleCell__after {
    display: none;
}

.PromoBanner {
    backdrop-filter: blur(40px);
    position: fixed;
    bottom: 2vh;
    width: 88.8vw;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: all 400ms;
    -moz-transition: all 400ms;
    -ms-transition: all 400ms;
    -o-transition: all 400ms;
    transition: all 400ms;
}

.PromoBanner__head {
    max-height: 0px;
    padding-bottom: 0;
}

.PromoBanner__label, .PromoBanner__age {
    display: none;
}

.PromoBanner__close {
    z-index: 2;
    color: rgba(255, 255, 255, 1);
}

.PromoBanner .vkuiSimpleCell__content {
    color: rgba(255, 255, 255, 1);
}

.PromoBanner .vkuiSimpleCell__description {
    color: rgba(255, 255, 255, .3);
}