.InfoBanner {
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    border-radius: 24px;

    padding: 16px;
}

.InfoBanner .BannerTitle {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: SF Pro Text;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;

    letter-spacing: -0.25px;
}

.InfoBanner .BannerAction {
    background: rgba(87, 64, 57, 0.05);
    border-radius: 20px;
    width: 150px;
    height: 50px;
    color: #574039;
    margin-top: 16px;
}