body {
    overflow: hidden;
}

.FullScreen__Container {
    display: flex;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    margin-top: calc(var(--safe-area-inset-top) + var(--panelheader_height_ios) + 8.13vh);
}

.FullScreen__Title {
    font-family: ProximaNova;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    letter-spacing: -0.115242px;
    color: #FFFFFF;

    margin: 3.57vh 65px 0;
}

.FullScreen__Description {
    font-family: ProximaNova;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.115242px;
    color: #FFFFFF;

    margin: 1.72vh 43px 0;
}

.Panel__in .CustomButton {
    height: auto;
    font-family: ProximaNova;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.3px;
    color: #FFFFFF;

    background: linear-gradient(180deg, #28A521 0%, #49FF3F 100%);
    box-shadow: 0px 3px 29px rgba(0, 0, 0, 0.09);
    border-radius: 25px;
    padding: 20px;

    position: fixed;
    bottom: calc(var(--safe-area-inset-bottom) + 17.24vh);
    margin: 0 auto;
    max-width: 78.93vw;
}

.Panel__in .CustomButton span {
    text-align: left;
}

.ButtonsContainer .CustomButton {
    position: initial;
}

.ModalCard__in .CustomButton {
    height: auto;
    background: #6A9BE8;
    border-radius: 10px;
    padding: 11px 0;
    margin: 0 auto;

    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.408px;
    color: #FFFFFF;
}

#sub_app .CustomButton {
    font-size: 2.46vh;
}

#sub_app .ButtonsContainer {
    bottom: 8.99vh;
}

#p7 .ButtonsContainer {
    bottom: auto;
}

.ButtonsContainer {
    position: fixed;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.Background {
    z-index: -1;
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
}

.PercentTitle {
    font-family: TT Firs Neue;
    font-style: normal;
    font-weight: 500;
    font-size: 96px;
    line-height: 124px;
    text-align: center;
    letter-spacing: -0.115242px;
    color: #BBD1F4;

    position: fixed;
    bottom: 17.12vh;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 1;
}

.Loading {
    position: fixed;
    top: 0;

    -webkit-transform: translate(-65.33vw, 31.4vh);
    -moz-transform: translate(-65.33vw, 31.4vh);
    -ms-transform: translate(-65.33vw, 31.4vh);
    -o-transform: translate(-65.33vw, 31.4vh);
    transform: translate(-65.33vw, 31.4vh);
}

.PosterHeader {
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.115242px;
    color: #FFFFFF;

    max-width: 100vw;

    margin-top: calc(var(--safe-area-inset-top) + var(--panelheader_height_ios));
    margin-left: 28px;
    z-index: 1;
}

.PosterSubheader {
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    letter-spacing: -0.115242px;
    color: #FFFFFF;

    margin-top: 9px;
}

.PosterImage {
    z-index: 0;
    position: fixed;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);

    height: 73vh;
    top: 33.5vh;
}

#p7 .FullScreen__Container {
    margin-top: 0;
    justify-content: center;
}

#p5 .FullScreen__Container {
    margin-top: calc(var(--safe-area-inset-top) + var(--panelheader_height_ios) + 15.15vh);
}

#p5 .TextHeader {
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    letter-spacing: -0.115242px;
    color: #FFFFFF;

    max-width: 40.27vw;
}

#p5 .Karma {
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 88px;
    text-align: center;
    letter-spacing: -0.115242px;
    color: #FFFFFF;

    margin-top: 10px;
}

#p5 .ResultText {
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    letter-spacing: -0.115242px;
    color: #2DB226;

    margin-top: 10px;
    max-width: 72.8vw;
}

#p5 .CustomButton {
    position: fixed;
    bottom: calc(var(--safe-area-inset-bottom) + 14.65vh);
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.Progress {
    position: relative;
    min-width: 38.42vh;
    min-height: 38.42vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Progress span {
    font-family: ProximaNova Bold;
    font-size: 72px;
    line-height: 88px;
    text-align: center;
    letter-spacing: -0.115242px;
    color: #FFFFFF;
}

.Progress img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-animation: Progress_Rotate 2500ms infinite linear;
    -o-animation: Progress_Rotate 2500ms infinite linear;
    animation: Progress_Rotate 2500ms infinite linear;
}

@keyframes Progress_Rotate {
    0% {
        -webkit-transform: translate(-50%, -50%) rotate(0deg);
        -moz-transform: translate(-50%, -50%) rotate(0deg);
        -ms-transform: translate(-50%, -50%) rotate(0deg);
        -o-transform: translate(-50%, -50%) rotate(0deg);
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        -webkit-transform: translate(-50%, -50%) rotate(360deg);
        -moz-transform: translate(-50%, -50%) rotate(360deg);
        -ms-transform: translate(-50%, -50%) rotate(360deg);
        -o-transform: translate(-50%, -50%) rotate(360deg);
        transform: translate(-50%, -50%) rotate(360deg);
    }
}