body[scheme='bright_light'] {
    --accent: #6B74B2;;
    --text_secondary: #818C99;
    --button_secondary_background: #F7F6FF;
    --search_bar_field_background: #EBEDF0;
    --question_indicator: #F2F2F2;
    --main_gradient: linear-gradient(180deg, rgba(245, 245, 245, 0.0001) 0%, rgba(245, 245, 245, 0.0156863) 9.22%, rgba(245, 245, 245, 0.054902) 18.76%, rgba(245, 245, 245, 0.117647) 28.48%, rgba(245, 245, 245, 0.2) 38.19%, rgba(245, 245, 245, 0.290196) 47.75%, rgba(245, 245, 245, 0.392157) 56.99%, rgba(245, 245, 245, 0.501961) 65.75%, rgba(245, 245, 245, 0.607843) 73.87%, rgba(245, 245, 245, 0.709804) 81.18%, rgba(245, 245, 245, 0.8) 87.52%, rgba(245, 245, 245, 0.882353) 92.74%, rgba(245, 245, 245, 0.945098) 96.66%, rgba(245, 245, 245, 0.984314) 99.14%, #F5F5F5 100%);
    --button_tertiary_foreground: var(--accent);
    --button_primary_background: var(--accent);
    --placeholder_icon_foreground_secondary: var(--accent);
    --question_background: var(--background_content);
    --button_secondary_foreground: var(--accent);
}

body[scheme='space_gray'] {
    --accent: #B8BFF2;
    --background_content: #202125;
    --text_secondary: rgba(255, 255, 255, 0.8);
    --button_secondary_background: #28292D;
    --button_primary_foreground: #202125;
    --question_indicator: #767985;
    --question_background: var(--button_secondary_background);
    --button_primary_background: var(--accent);
    --search_bar_field_background: var(--button_secondary_background);
    --field_background: var(--button_secondary_background);
    --modal_card_background: var(--background_content);
    --search_bar_background: var(--background_content);
    --header_tint: var(--accent);
    --placeholder_icon_foreground_secondary: var(--accent);
    --main_gradient: linear-gradient(180deg, rgba(245, 245, 245, 1.5e-05) 0%, rgba(245, 245, 245, 0.00235294) 9.22%, rgba(245, 245, 245, 0.00823529) 18.76%, rgba(245, 245, 245, 0.0176471) 28.48%, rgba(245, 245, 245, 0.03) 38.19%, rgba(245, 245, 245, 0.0435294) 47.75%, rgba(245, 245, 245, 0.0588235) 56.99%, rgba(245, 245, 245, 0.0752941) 65.75%, rgba(245, 245, 245, 0.0911765) 73.87%, rgba(245, 245, 245, 0.106471) 81.18%, rgba(245, 245, 245, 0.12) 87.52%, rgba(245, 245, 245, 0.132353) 92.74%, rgba(245, 245, 245, 0.141765) 96.66%, rgba(245, 245, 245, 0.147647) 99.14%, rgba(245, 245, 245, 0.15) 100%);
    --button_tertiary_foreground: var(--accent);
    --header_background: var(--background_content);
    --text_placeholder: var(--text_secondary);
    --button_secondary_foreground: var(--accent);
    --text_subhead: var(--text_secondary);
    --icon_outline_secondary: var(--text_secondary);
}

#story-editor {
    --background_content: #000000;
    --accent: #FFFF;
    --header_text: var(--accent);
    --header_tint: var(--accent);
    --header_background: var(--background_content);
}

#story-content {
    overflow-y: hidden;
    background-size: cover;
    position: relative;
}

.story-shadow {
    width: 100%;
    height: 16%;
    background: linear-gradient(#000,rgba(0,0,0,.98),rgba(0,0,0,.95),rgba(0,0,0,.88),rgba(0,0,0,.8),rgba(0,0,0,.71),rgba(0,0,0,.61),rgba(0,0,0,.5),rgba(0,0,0,.39),rgba(0,0,0,.29),rgba(0,0,0,.2),rgba(0,0,0,.12),rgba(0,0,0,.06),rgba(0,0,0,.02),transparent);
    opacity: 0.4;
}

.top {
    position: absolute;
    top: 0;
}

.bottom {
    position: absolute;
    bottom: 0;
}

.story-buttons {
    z-index: 200;
    position: absolute;
    width: 100%;
    padding: 0 16px 16px;
    box-sizing: border-box;
    bottom: 0;
}

.story-buttons > .background {
    background: #FFFF;
    cursor: pointer;
    width: 36px;
    height: 36px;
    padding: 6px;
    box-sizing: border-box;
    border-radius: 50%;
    box-shadow: 0 0 8px 0 rgba(0,0,0,.16), 0 2px 4px 0 rgba(0,0,0,.12);
    float: left;
}

.story-buttons > .background > * {
    background: conic-gradient(#feea5f,#ff9e49,#fe5faa,#b46df5,#61a5f0,#14d2ec,#55f48f);
    transform: rotate(90deg);
    border-radius: 50%;
    width: 24px;
    height: 24px;
}

.story-buttons > :last-child {
    height: 36px;
    float: right;
    box-shadow: 0 0 8px 0 rgba(0,0,0,.16), 0 2px 4px 0 rgba(0,0,0,.12);
}

#sticker {
    z-index: 100;
    position: relative;
    padding-top: 32px;
    width: 100%;
    height: 100%;
    display: table;
}

#sticker > * {
    position: relative;
    display: table-cell;
    vertical-align: middle;
}

#sticker > * > * {
    padding: 0 24px;
    max-width: 340px;
    margin: 0 auto;
    position: relative;
    top: -31px;
}

#main .profile {
    margin-top: calc(var(--safe-area-inset-top) + 20px + var(--panelheader_height_ios));
}

#main .profile .Title {
    margin-top: 13px;
    padding-bottom: 21px;
    color: var(--accent);
}

#main .gradient {
    position: relative;
    height: 79px;
    width: 100vw;
    background: var(--main_gradient);
}

.Header--android.Header--mode-secondary .Header__content, .Header--ios.Header--mode-secondary .Header__content, .Header--vkcom.Header--mode-secondary .Header__content {
    text-transform: uppercase;
    font-family: SF Pro Text;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: -0.078px;
    color: var(--text_secondary);
}

#main .modal {
    border-radius: 35px;
    position: relative;
    top: -39px;
    width: 100vw;
    background-color: var(--background_content);
}

#main .modal .indicator {
    width: 59px;
    height: 4px;
    background: #F8F8F8;
    border-radius: 23px;
    margin: 16px 0 10px calc(50% - 59px / 2);
}


.PanelHeader--ios::before, .PanelHeader--ios .PanelHeader__in {
    margin-top: 0;
}

.PanelHeader--ios::after {
    content: '';
}

.question {
    border-radius: inherit;
    background: var(--question_background);
}

.question :first-child {
    display: flex;
    align-items: center;
}

.question .title {
    margin-left: 12px;
    font-family: SF Pro Text;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.32px;
    color: var(--text_primary);
}

.question .qa {
    margin-top: 12px;
    font-family: SF Pro Text;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: -0.32px;
    color: var(--text_primary);
}

.question .indicator {
    margin-top: 12px;
    position: absolute;
    top: 6px;
    bottom: 3px;
    width: 4px;
    background: var(--question_indicator);
    border-radius: 23px;
}

.question .share {
    position: absolute;
    padding: 12px;
    right: 0;
    bottom: 0;
    border-radius: 28px;
    width: 28px;
    color: var(--accent);
}

.QuestionShareContainer {
    width: 949px;
    position: absolute;
    -webkit-transform: translate(-100vh, -100vw);
    -moz-transform: translate(-100vh, -100vw);
    -ms-transform: translate(-100vh, -100vw);
    -o-transform: translate(-100vh, -100vw);
    transform: translate(-100vh, -100vw);
    display: flex;
    flex-direction: column;
}

.QuestionShareContainer > :first-child {
    background: #EAEAEA;
    border-radius: 50px;
    max-width: 609px;
    padding: 29px 46px;
    float: left;
}

.QuestionShareContainer > :first-child * {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
    color: black;
}

.QuestionShareContainer > :last-child {
    width: 100%;
}

.QuestionShareContainer > :last-child > :first-child {
    margin-top: 39px;
    float: right;
    background: #9F29E7;
    border-radius: 50px;
    max-width: 766px;
    padding: 30px 40px;
}

.QuestionShareContainer > :last-child > :first-child > * {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 41.84px;
    line-height: 49px;
    color: white;
}