@font-face {
    font-family: SF Pro Text;
    src: url(../fonts/SF-Pro-Text-Regular.ttf);
}

@font-face {
    font-family: SF Pro Text Heavy;
    src: url(../fonts/SF-Pro-Text-Heavy.otf);
}

@font-face {
    font-family: SF Pro Text Medium;
    src: url(../fonts/SF-Pro-Text-Medium.otf);
}

@font-face {
    font-family: SF Pro Text Semibold;
    src: url(../fonts/SF-Pro-Text-Semibold.otf);
}

@font-face {
    font-family: SF Pro Text Bold;
    src: url(../fonts/SF-Pro-Text-Bold.otf);
}

@font-face {
    font-family: Manrope;
    src: url(../fonts/Manrope.ttf);
}

@font-face {
    font-family: Manrope Semibold;
    src: url(../fonts/Manrope-SemiBold.ttf);
}

@font-face {
    font-family: Manrope Medium;
    src: url(../fonts/Manrope-Medium.ttf);
}

@font-face {
    font-family: Manrope Bold;
    src: url(../fonts/Manrope-Bold.ttf);
}

@font-face {
    font-family: Manrope ExtraBold;
    src: url(../fonts/Manrope-ExtraBold.ttf);
}

@font-face {
    font-family: SF Pro Display;
    src: url(../fonts/SF-Pro-Display-Regular.otf);
}

@font-face {
    font-family: SF Pro Display Bold;
    src: url(../fonts/SF-Pro-Display-Bold.otf);
}

@font-face {
    font-family: SF Pro Display Semibold;
    src: url(../fonts/SF-Pro-Display-Semibold.otf);
}

@font-face {
    font-family: SF Pro Display Medium;
    src: url(../fonts/SF-Pro-Display-Medium.otf);
}

@font-face {
    font-family: SF Pro Display Heavy;
    src: url(../fonts/SF-Pro-Display-Heavy.otf);
}

@font-face {
    font-family: SF Pro Rounded;
    src: url(../fonts/SF-Pro-Rounded-Regular.ttf);
}

@font-face {
    font-family: SF Pro Rounded Semibold;
    src: url(../fonts/FontsFree-Net-SF-Pro-Rounded-Semibold.ttf);
}

@font-face {
    font-family: SF Pro Rounded Bold;
    src: url(../fonts/FontsFree-Net-SF-Pro-Rounded-Bold.ttf);
}

@font-face {
    font-family: SF Pro Rounded Black;
    src: url(../fonts/FontsFree-Net-SF-Pro-Rounded-Black.ttf);
}

@font-face {
    font-family: SF Pro Rounded Heavy;
    src: url(../fonts/FontsFree-Net-SF-Pro-Rounded-Heavy.ttf);
}

@font-face {
    font-family: SF UI Display;
    src: url(../fonts/SFUIDisplay-Regular.otf);
}

@font-face {
    font-family: SF UI Text;
    src: url(../fonts/SFUIText-Regular.otf);
}

@font-face {
    font-family: TT Commons;
    src: url(../fonts/TTCommons-Regular.ttf);
}

@font-face {
    font-family: TT Commons Debimold;
    src: url(../fonts/TTCommons-DemiBold.ttf);
}

@font-face {
    font-family: TT Commons Bold;
    src: url(../fonts/TTCommons-Bold.ttf);
}

@font-face {
    font-family: Stupid Head;
    src: url(../fonts/Stupid-Head.ttf);
}

@font-face {
    font-family: ProximaNova;
    src: url(../fonts/ProximaNova-Regular.ttf);
}

@font-face {
    font-family: ProximaNova Bold;
    src: url(../fonts/ProximaNova-Bold.ttf);
}

@font-face {
    font-family: ProximaNova Semibold;
    src: url(../fonts/ProximaNova-Semibold.ttf);
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: Montserrat Semibold;
    src: url(../fonts/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: WC Mano Negra Bta;
    src: url(../fonts/WC-Mano-Negra-Bta.otf);
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: TT Firs Neue;
    src: url(../fonts/TTFirsNeue-Regular.ttf);
}

@font-face {
    font-family: TT Firs Neue Medium;
    src: url(../fonts/TTFirsNeue-Medium.ttf);
}

@font-face {
    font-family: TT Firs Neue DemiBold;
    src: url(../fonts/TTFirsNeue-DemiBold.ttf);
}

@font-face {
    font-family: Gilroy;
    src: url(../fonts/Gilroy-Regular.ttf);
}

@font-face {
    font-family: Gilroy Bold;
    src: url(../fonts/Gilroy-Bold.ttf);
}

@font-face {
    font-family: Gilroy Medium;
    src: url(../fonts/Gilroy-Medium.ttf);
}

@font-face {
    font-family: Gilroy Semibold;
    src: url(../fonts/Gilroy-SemiBold.ttf);
}

@font-face {
    font-family: Inter;
    src: url(../fonts/Inter-Regular.ttf);
}

@font-face {
    font-family: Inter Medium;
    src: url(../fonts/Inter-Medium.ttf);
}

@font-face {
    font-family: Inter Semibold;
    src: url(../fonts/Inter-SemiBold.ttf);
}

@font-face {
    font-family: Inter Bold;
    src: url(../fonts/Inter-Bold.ttf);
}

@font-face {
    font-family: Inter Black;
    src: url(../fonts/Inter-Black.ttf);
}

@font-face {
    font-family: Inter ExtraBold;
    src: url(../fonts/Inter-ExtraBold.ttf);
}

@font-face {
    font-family: Alice;
    src: url(../fonts/Alice-Regular.ttf);
}

@font-face {
    font-family: VK Sans Display;
    src: url(../fonts/VKSansDisplay-Regular.ttf);
}

@font-face {
    font-family: VK Sans Display DemiBold;
    src: url(../fonts/VKSansDisplay-DemiBold.ttf);
}

@font-face {
    font-family: VK Sans Display Bold;
    src: url(../fonts/VKSansDisplay-Bold.ttf);
}

@font-face {
    font-family: Wix Madefor Display;
    src: url(../fonts/WixMadeforDisplay-Regular.ttf);
}

@font-face {
    font-family: Wix Madefor Display Medium;
    src: url(../fonts/WixMadeforDisplay-Medium.ttf);
}

@font-face {
    font-family: Wix Madefor Display Semibold;
    src: url(../fonts/WixMadeforDisplay-SemiBold.ttf);
}

@font-face {
    font-family: Wix Madefor Display Bold;
    src: url(../fonts/WixMadeforDisplay-Bold.ttf);
}

@font-face {
    font-family: Wix Madefor Display ExtraBold;
    src: url(../fonts/WixMadeforDisplay-ExtraBold.ttf);
}

@font-face {
    font-family: Unbounded Black;
    src: url(../fonts/Unbounded-Black.ttf);
}

@font-face {
    font-family: Unbounded Bold;
    src: url(../fonts/Unbounded-Bold.ttf);
}

@font-face {
    font-family: Unbounded ExtraBold;
    src: url(../fonts/Unbounded-ExtraBold.ttf);
}