body {
    --global_gradient: linear-gradient(90deg, #2CA4FC 0%, #0168DA 100%);
}

.Background {
    position: fixed;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    left: 50%;
    transform: translateX(-50%);
}

.Onboard {
    margin-top: calc(var(--safe-area-inset-top) + var(--panelheader_height_ios) + 9px);
    margin-left: 40px;
    margin-right: 40px;
    padding-bottom: calc(var(--safe-area-inset-bottom) + 43px + 64px + 12px);
}

.title {
    font-family: TT Firs Neue Medium;
    font-size: 36px;
    line-height: 108.4%;
    letter-spacing: -0.3px;
}

.description {
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;

    margin-top: 10px;
}

.conditions {
    margin-top: -3px;
}

.conditions > * {
    display: flex;
    align-items: center;

    margin-top: 20px;
}

.conditions > * > :first-child {
    width: 40px;
    height: 40px;
    background: var(--global_gradient);
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: TT Firs Neue;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 108.4%;
    text-align: center;
    letter-spacing: -0.3px;
    color: #FFFFFF;
}

.conditions > * > :last-child {
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;

    margin-left: 14px;
}

.title_2 {
    font-family: TT Firs Neue Medium;
    font-size: 24px;
    line-height: 108.4%;
    letter-spacing: -0.3px;

    margin-top: 6.77339901vh;
}

.description_2 {
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;

    margin-top: 16px;
}

.subdescription {
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #61718B;

    margin-top: 16px;
}

.gradient_text {
    background: var(--global_gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.button {
    background: var(--global_gradient);
    border-radius: 62px;
    box-shadow: 0px 3px 29px rgba(0, 0, 0, 0.09);

    width: 84.5333333vw;
    padding: 18px;
    cursor: pointer;

    font-family: TT Firs Neue Medium;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: -0.3px;
    color: #FFFFFF;

    display: flex;
    justify-content: center;
    align-items: center;
}

.main_button {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: calc(var(--safe-area-inset-bottom) + 43px);
}

.Conditions {
    margin-top: calc(var(--safe-area-inset-top) + var(--panelheader_height_ios) + 6.89655172vh);
    margin-left: 29px;
    margin-right: 29px;
    padding-bottom: calc(var(--safe-area-inset-bottom) + 12px);
}

.Conditions_Icon {
    margin-left: 50%;
    transform: translateX(-50%);
}

.title_3 {
    font-family: TT Firs Neue Medium;
    font-size: 36px;
    line-height: 108.4%;
    text-align: center;
    letter-spacing: -0.3px;

    margin-top: 10px;
    margin-left: 16px;
    margin-right: 16px;
}

.description_3 {
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;

    margin-top: 10px;
    margin-left: 16px;
    margin-right: 16px;
}

.conditions_buttons {
    margin-top: 4.31034483vh;
}

.conditions_buttons > * {
    background: var(--global_gradient);
    border-radius: 62px;
    box-shadow: 0px 3px 29px rgba(0, 0, 0, 0.09);

    padding: 18px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 20px;
}

.conditions_buttons > * > :first-child {
    width: 24px;
    height: 24px;
}

.conditions_buttons > * > :last-child {
    font-family: TT Firs Neue Medium;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: -0.3px;
    color: #FFFFFF;

    margin-left: 12px;
}