.LeaderBoard_User {
    width: 100vw;
    display: flex;
    align-items: center;
    padding: 6px 0;
}

.LeaderBoard_Number {
    width: 13.6vw;
    font-family: SF Pro Text;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    letter-spacing: -0.078px;
    color: #000000;
}

.LeaderBoard_UserName {
    font-family: SF Pro Text;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.32px;
    color: #000000;
}

.LeaderBoard_UserScore {
    font-family: SF Pro Text;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: -0.078px;
    color: #818C99;
}