
#p0 .FullScreen__Container {
    -webkit-transform: translateY(-3.16vh);
    -moz-transform: translateY(-3.16vh);
    -ms-transform: translateY(-3.16vh);
    -o-transform: translateY(-3.16vh);
    transform: translateY(-3.16vh);
}

#p0 .FullScreen__Title {
    font-family: TT Firs Neue;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: -0.115242px;
    color: #FFFFFF;
}

#p0 .FullScreen__Description {
    font-family: TT Firs Neue;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    letter-spacing: -0.115242px;

    color: #FFFFFF;

    max-width: 84.533vw;
}

#p0 .FullScreen__SubDescription {
    font-family: TT Firs Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 17px;
    text-align: center;
    letter-spacing: -0.115242px;
    color: #A673D5;

    margin-top: 4.19vh;
    max-width: 65.33vw;
}

.FullScreen__Container {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    flex-direction: column;

    -webkit-transform: translateY(-5.7vh);
    -moz-transform: translateY(-5.7vh);
    -ms-transform: translateY(-5.7vh);
    -o-transform: translateY(-5.7vh);
    transform: translateY(-5.7vh);
}

.FullScreen__Title {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: -0.115242px;
    color: #FFFFFF;
    text-align: center;
    min-width: 68.8vw;

    margin: 16px 66px 0;
}

.FullScreen__Description {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    letter-spacing: -0.115242px;
    color: #FFFFFF;

    margin: 1.35vh 26px 0;
}

#p0 .CustomButton, #p1 .CustomButton, #p3 .CustomButton, #p4 .CustomButton, #p5 .CustomButton, #p6 .CustomButton, #p8 .CustomButton {
    height: auto;
    font-family: TT Firs Neue;
    font-style: normal;
    font-weight: 500;
    font-size: 2.22vh;
    line-height: 2.83vh;
    letter-spacing: -0.3px;
    color: #000000;

    background: #FFFFFF;
    box-shadow: 0px 3px 29px rgba(0, 0, 0, 0.09);
    border-radius: 65px;
    padding: 17px;

    position: fixed;
    bottom: 10.84vh;
    margin: 0 auto;
    max-width: 80vw;

    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}


#p0 .CustomButton span, #p1 .CustomButton span, #p4 .CustomButton span, #p5 .CustomButton span, #p6 .CustomButton span {
    max-width: 57.333vw;
}

#p6 .CustomButton, #p8 .CustomButton {
    position: initial;
}

.ModalCard__in .CustomButton {
    height: auto;
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.408px;
    color: #FFFFFF;

    background: #6A9BE8;
    border-radius: 10px;
    padding: 10.5px 0;
    margin: 0 auto;
}

.ButtonsContainer {
    margin-left: 50%;
}

#p6 .ButtonsContainer, #p8 .ButtonsContainer {
    position: fixed;
    bottom: 10.47vh;
}

#p7 .CustomButton {
    position: relative;
    bottom: 0;
    text-align: left;
}

#p7 .CustomButton span, #p4 .CustomButton span {
    font-family: TT Firs Neue;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: -0.3px;
    color: #000000;
    max-width: 55.47vw;
}

.Background {
    z-index: -1;
    position: fixed;
    width: 100vw;
    height: 100vh;
}

.PercentTitle {
    font-family: TT Firs Neue;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 83px;
    letter-spacing: -0.115242px;
    color: #FFFFFF;
}

.Loading {
    position: fixed;
    top: 0;

    -webkit-transform: translate(-65.33vw, 31.4vh);
    -moz-transform: translate(-65.33vw, 31.4vh);
    -ms-transform: translate(-65.33vw, 31.4vh);
    -o-transform: translate(-65.33vw, 31.4vh);
    transform: translate(-65.33vw, 31.4vh);
}

.PosterHeader {
    font-family: TT Firs Neue;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    letter-spacing: -0.3px;
    color: #FFFFFF;

    max-width: 63.47vw;

    z-index: 1;
    margin: calc(var(--safe-area-inset-top) + var(--panelheader_height_ios) + 5px) auto 0;
}

.PosterText {
    font-family: TT Firs Neue;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 34px;
    text-align: center;
    letter-spacing: -0.3px;
    color: #FFFFFF;

    max-width: 79.2vw;

    z-index: 1;
    margin: 9px auto 0;
}

.PosterImage {
    z-index: 0;
    position: fixed;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);

    height: 73vh;
    top: 33.5vh;
}

.InputName:focus {
    outline: none;
}

.InputName::placeholder {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.3px;
    color: #FFFFFF;
}

.InputName {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.3px;
    color: #FFFFFF;

    min-width: 80vw;
    max-width: 80vw;
    padding: 17px;

    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0px 3px 29px rgba(0, 0, 0, 0.09);
    backdrop-filter: blur(8px);
    border-radius: 65px;
    border: none;

    margin-top: 26px;
}

.ResultColoredText {
    font-family: TT Firs Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #000000;

    margin-top: calc(var(--safe-area-inset-top) + var(--panelheader_height_ios) + 43px);
    margin-left: 40px;
    padding: 6px 23px;

    background: #FFFFFF;
    border-radius: 76.298px;
    width: fit-content;
}

.ResultName {
    font-family: TT Firs Neue;
    font-style: normal;
    font-weight: 600;
    font-size: 5.8vh;
    line-height: 70px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF;

    margin-top: 14px;
    margin-left: 40px;
}

.ResultNames {
    font-family: TT Firs Neue;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    letter-spacing: -0.025em;
    color: #FFFFFF;
    margin-left: 40px;
}

#save_photo .FullScreen__Container {
    -webkit-transform: translateY(-6.16vh);
    -moz-transform: translateY(-6.16vh);
    -ms-transform: translateY(-6.16vh);
    -o-transform: translateY(-6.16vh);
    transform: translateY(-6.16vh);
}

#save_photo .FullScreen__Title {
    font-family: TT Firs Neue;
    font-style: normal;
    font-weight: 600;
    font-size: 3.2vh;
    text-align: center;
    letter-spacing: -0.115242px;
    color: #FFFFFF;

    max-width: 71.2vw;
    margin-top: 5.05vh;
}

#save_photo .HorizontalButtons {
    position: fixed;
    bottom: 10.22vh;
    width: 85.87vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

#save_photo .HorizontalButtons > :first-child {
    color: #787878;
    background: #FFFFFF;
}

#save_photo .HorizontalButtons > :last-child {
    color: #FFFFFF;
    background: #540E5F;
    margin-left: 10px;
}

#save_photo .CustomButton {
    height: auto;
    font-family: TT Firs Neue;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: -0.3px;

    box-shadow: 0px 3px 29px rgba(0, 0, 0, 0.09);
    border-radius: 65px;
    padding: 16px;

    width: 50%;
}