body {
    --color_secondary: #A4A6AA;
    --background_secondary: #E3E3E3;

    --color_primary: #000000;
    --background_content: #F8F8F8;
    --header_background: #F8F8F8;
    --parent_background: #EDEEF0;
    --bottom_modal_background: #FFFFFF;
    --bottom_modal_dragging: #F8F8F8;
    --color_fav1: #535353;
}

body[scheme='bright_light'] {
}

body[scheme='space_gray'] {
    --color_primary: #FFFFFF;
    --background_content: #242121;
    --header_background: #242121;
    --parent_background: #3A3737;
    --bottom_modal_background: #2F2F2F;
    --bottom_modal_dragging: #4B4B4B;
    --color_fav1: #A4A6AA;
}

h1 {
    font-family: Manrope;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: var(--color_primary);
}

h2 {
    font-family: Manrope;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: var(--color_primary);
}

h3 {
    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: var(--color_primary);
}

p {
    font-family: Manrope;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    color: var(--color_secondary);
}

.Placeholder {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: calc(var(--safe-area-inset-top) + var(--panelheader_height_ios) + 100vh / 812 * 72) 0 0 28px
}

.Placeholder h1 {
    font-size: 2.95566502vh;
    line-height: 3.05vh;
    margin: calc(100vh / 812 * 96) 68px 0 0;
}

.Placeholder p {
    margin: 16px 68px 0 0;

    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 1.84729064vh;
    line-height: 2vh;
    letter-spacing: -0.24px;
    color: var(--color_secondary);
}

.Placeholder .Button {
    margin-top: 48px;
}

.vkuiButton--sz-m, .Button--sz-m {
    min-height: 46px;
    height: 46px;
    width: 188px;

    font-family: Manrope;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.408px;
}

.vkuiButton--lvl-gradient, .Button--lvl-gradient {
    color: #FFFFFF;
    background: linear-gradient(93.43deg, #F05F88 0%, #FAAF1A 100%);
}

.vkuiPanelHeader__left {
    color: var(--color_primary);
}

.Button--lvl-secondary {
    background: var(--background_secondary);
    color: #000000;
}
.vkuiButton--lvl-secondary.vkuiButton--clr-accent {
    color: #000000;
}

.Button--lvl-opacity {
    background: none;
    color: var(--color_primary);
}

.Receipt {
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: calc(var(--safe-area-inset-top) + var(--panelheader_height_ios) + 5.17241379vh) 0 0;
    background: var(--background_content);
}

.Receipt h1 {
	font-size: 2.95566502vh;
    line-height: 3.05vh;
    margin: 0 28px 0;
    text-align: center;
}

.Receipt .ingredients {
    font-family: Manrope;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5vh;
    line-height: 1.8vh;
    text-align: center;

    color: var(--color_secondary);
    margin: 8px 28px 0;
}

.Receipt .img {
    height: 39.2857143vh;
    width: 39.2857143vh;
    margin-top: 18px;
    border-radius: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: var(--background_secondary);
}

.Receipt img {
    height: 100%;
}

.Receipt .Button--sz-m {
    width: 62.6666667vw;
}

.vkuiPanel .vkuiPanel__in, .vkuiPanel::after {
    background: var(--parent_background);
}

#favorite > .vkuiPanel, #favorite > .vkuiPanel__in, #favorite > .vkuiPanel::after {
    background: var(--background_content);
}

#favorite p {
    display: flex;
    justify-content: center;
}

#steps > .vkuiPanel, #steps > .vkuiPanel__in, #steps > .vkuiPanel::after {
    background: var(--background_content);
}

#onboard > .vkuiPanel, #onboard > .vkuiPanel__in, #onboard > .vkuiPanel::after {
    background: var(--background_content);
}

.Receipt2 {
    padding: 0;
    border-radius: 13.89px;
    -ms-filter: blur(4px) drop-shadow(0px 0px 29.0985px rgba(0, 0, 0, 0.05));
    filter: blur(4px) drop-shadow(0px 0px 29.0985px rgba(0, 0, 0, 0.05));
    -webkit-transform: scale(0.661333333) translateZ(0);
    -moz-transform: scale(0.661333333) translateZ(0);
    -ms-transform: scale(0.661333333) translateZ(0);
    -o-transform: scale(0.661333333) translateZ(0);
    transform: scale(0.661333333) translateZ(0);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto auto;
    z-index: -1;
}

.Receipt2 h1 {
    margin-top: calc(var(--safe-area-inset-top) + var(--panelheader_height_ios) + 5.17241379vh);
}

@keyframes Receipt1__exit {
    0% {

    }
    100% {
        -webkit-transform: rotate(-90deg) translateX(-50vw) translateZ(0);
        -moz-transform: rotate(-90deg) translateX(-50vw) translateZ(0);
        -ms-transform: rotate(-90deg) translateX(-50vw) translateZ(0);
        -o-transform: rotate(-90deg) translateX(-50vw) translateZ(0);
        transform: rotate(-90deg) translateX(-50vw) translateZ(0);
        opacity: 0;
    }
}

@keyframes Receipt2__enter {
    0% {

    }
    100% {
        border-radius: 0;
        filter: none;
        -webkit-transform: scale(1) translateZ(0);
        -moz-transform: scale(1) translateZ(0);
        -ms-transform: scale(1) translateZ(0);
        -o-transform: scale(1) translateZ(0);
        transform: scale(1) translateZ(0);
    }
}

.BottomModal {
    -webkit-transition: all 400ms;
    -moz-transition: all 400ms;
    -ms-transition: all 400ms;
    -o-transition: all 400ms;
    transition: all 400ms;

    background: var(--bottom_modal_background);
    position: absolute;
    width: 100vw;
    min-height: 39.2857143vh;
    box-shadow: 0px 0px 30px -11px rgba(0, 0, 0, 0.10);
    border-radius: 35px 35px 0px 0px;

    z-index: 2;
}

.BottomModal > :last-child {
    padding-bottom: 28px;
}

.BottomModal .Dragging {
    background: var(--bottom_modal_dragging);
    border-radius: 23px;
    width: 59px;
    height: 4px;
    margin: 11px auto 21px;
}

.ModalButton {
    display: flex;
    align-items: center;
    margin: 0 20px;

    font-family: Manrope;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 23px;
    display: flex;
    align-items: center;
    letter-spacing: 0.25px;

    z-index: 2;
    pointer-events: painted;
    cursor: pointer;
}

.ModalSeparator {
    margin-top: 16px;
    height: 4px;
    width: 100vw;
    background: var(--bottom_modal_dragging);
}

.vkuiAvatar__children {
    color: inherit;
}

#favorite .Receipts {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    padding-bottom: 12px;
    grid-gap: 15px;
    margin: 32px 18px 0;
    -webkit-overflow-scrolling: touch;
}

#favorite .Receipts > * {
    background: var(--bottom_modal_background);
    border-radius: 20px;
    min-height: 188px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05);
	cursor: pointer;
}

#favorite .Receipts > * > :first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 14px;
    margin: 14px 0 0 12px;
    overflow: hidden;
    width: 87px;
    height: 87px;
}

#favorite .Receipts > * > :first-child > * {
    height: 100%;
}

#favorite .Receipts > * > :last-child {
    font-family: Manrope;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;

    color: var(--color_fav1);
    margin: 6px 12px 0;
    padding-bottom: 12px;
}

html {
    height: 100%;
    overflow: hidden;
    position: relative;
}

.Steps {
	margin: 0 18px 0;
	padding-bottom: 12px;
}

.Steps > :first-child > * > :first-child {
	font-family: Manrope;
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 33px;
	color: var(--color_primary);
	margin-top: 12px;
}

.Steps > :first-child > * > :last-child {
	font-family: Manrope;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 19px;
	color: #000000;
	padding: 10px;
	background: var(--background_secondary);
	margin-top: 12px;
	border-radius: 8px;
}

.Steps > :last-child {
	margin-top: 36px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.Modal_Mask {
    background: rgba(0, 0, 0, .4);
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    -webkit-transition: background 400ms;
    -moz-transition: background 400ms;
    -ms-transition: background 400ms;
    -o-transition: background 400ms;
    transition: background 400ms;
}

.Receipt1 {
    -webkit-transform-origin: bottom;
    -moz-transform-origin: bottom;
    -ms-transform-origin: bottom;
    -o-transform-origin: bottom;
    transform-origin: bottom;
}

.Receipt1_exit {
    -webkit-animation: Receipt1__exit ease-in-out 800ms 1;
    -o-animation: Receipt1__exit ease-in-out 800ms 1;
    animation: Receipt1__exit ease-in-out 800ms 1;

    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.Receipt2_enter {
    -webkit-animation: Receipt2__enter ease-in-out 400ms 1;
    -o-animation: Receipt2__enter ease-in-out 400ms 1;
    animation: Receipt2__enter ease-in-out 400ms 1;

    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}