body[scheme="space_gray"] {
    --background_content: linear-gradient(rgb(153, 80, 223) 0%, rgb(125, 61, 184) 50%, rgb(26, 12, 37) 100%);
}

.vkuiPanel .vkuiPanel__in, .vkuiPanel:after {
    background: var(--background_content);
}

#main .centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
}

#main h1 {
    margin: 0 0 0 0;

    font-family: Montserrat;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: #FFFFFF;
}

#main p {
    margin: 5px 0 15px 0;

    font-family: Montserrat;
    font-size: 10px;
    font-weight: 400;
    text-align: center;
    color: #FFFFFF;
}

.vkuiFormField--default .vkuiFormField__border {
    border-radius: 20px;
    color: #424242;
    background-color: rgba(255, 255, 255, 0.8);
}

.vkuiInput__el {
    color: #000000;
}

#main button {
    margin-top: 15px;
    border-radius: 20px;
    width: 30%
}

#main .self-a {
    position: fixed;
    bottom: calc(var(--safe-area-inset-bottom) + 36px);
    left: 32px;
    right: 32px;

    display: flex;
    flex-direction: column;
    gap: 4px;
}

#main .self-a p {
    margin: 0 0 0 0;

    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    color: #B8B8B8;
}

#main .self-a button {
    margin-top: 0;
    width: unset;
}

#select-analyze .vkuiModalCardBase__actions .vkuiButton {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

#select-analyze .ButtonGroup > .ButtonGroup {
    gap: 15px;
}

#profile .profile-about {
    margin: calc(var(--safe-area-inset-top) + var(--panelheader_height) + 10px) 20px 0;

    padding: 20px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 70px;
}

#profile .profile-about > img {
    width: 70px;
    height: 70px;
    border-radius: 100px;
}

#profile .profile-about > .text-container {
    margin-left: 20px;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    width: 100%;
}

#profile .profile-about > .text-container > h1 {
    margin: 0 0 0 0;

    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    color: #FFFFFF;
}

#profile .profile-about > .text-container > .counters {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#profile .profile-about > .text-container > .counters > * {
    align-items: start;
}

#profile .profile-about > .text-container > .counters > * > :first-child {
    margin: 0 0 0 0;

    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    color: #B8B8B8;

    width: auto;
}

#profile .profile-about > .text-container > .counters > * > :last-child {
    margin: 0 0 0 0;

    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    color: #FFFFFF;

    width: fit-content;
}

#profile .profile-about > .text-container > .counters > :nth-child(1) > :last-child {
    filter: blur(5px);
    -ms-filter: blur(5px);
    -webkit-filter: blur(5px);
}

#profile .info-container {
    margin: 20px 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#profile .info-container > * {
    width: 47%;
    height: 70px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#profile .info-container > * > :first-child {
    margin: 0 0 0 0;

    font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    color: #D7ACFF;
}

#profile .info-container > * > :last-child {
    margin: 0 0 0 0;

    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    color: #FFFFFF;
}

#profile .info-container > * > :last-child {
    margin: 0 0 0 0;

    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    color: #FFFFFF;

    filter: blur(5px);
    -ms-filter: blur(5px);
    -webkit-filter: blur(5px);
}

#profile .info-container-2 {
    margin: 20px 20px 0;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.2);

    position: relative;
    overflow: hidden;

    margin-bottom: 12px;
}

#profile .info-container-2 > h1 {
    margin: 12px 0 0 0;

    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    color: #FFFFFF;
}

#profile .info-container-2 > div {
    filter: blur(5px);
    -ms-filter: blur(5px);
    -webkit-filter: blur(5px);

    display: flex;
    flex-direction: column;
    gap: 10px;

    margin-top: 16px;

    padding: 0 0 24px;
}

#profile .info-container-2 > div > * {
    margin: 2px 24px;
    padding: 0 6px;
    background: #FFFFFF;
    border-radius: 12px;
    width: fit-content;
}

#profile .info-container-2 > span {
    position: absolute;
    top: 32px;
    left: 0;
    right: 0;
    bottom: 0;

    padding: 0 24px;

    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    justify-content: center;

    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    color: #FFFFFF;

    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 35%, rgba(0, 0, 0, 0.7) 65%, rgba(0, 0, 0, 0) 100%);
}