.SimpleBanner {
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    border-radius: 21px;
    padding: 18px 20px;
    display: flex;
}

.SimpleBanner_Text {
    font-family: SF UI Text;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: -0.5px;

    color: rgba(0, 0, 0, 0.5);
}