body[scheme='bright_light'] {
    --button_primary_background: #5AB9E5;
    --tabbar_active_icon: #5AB9E5;
    --tabbar_height: 49px;
    --header_tint: var(--tabbar_active_icon);
}

.ProfileTitle {
    font-family: TT Commons;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 25px;
    text-align: center;
    letter-spacing: -0.3px;

    color: rgba(0, 0, 0, 0.8);
}

#profile .SlaveName, #info .SlaveName {
    font-family: SF Pro Text;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.3px;

    color: rgba(0, 0, 0, 0.7);
    width: 70%;
}

#profile .SlavePay {
    font-family: SF Pro Text;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-align: right;
    letter-spacing: -0.3px;

    color: rgba(0, 0, 0, 0.35);
    width: 30%;
}

#shop .FriendName {
    font-family: SF Pro Text;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;

    letter-spacing: -0.3px;

    color: rgba(0, 0, 0, 0.7);
}

#shop .FriendPrice {
    font-family: SF Pro Text;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    text-align: right;
    letter-spacing: -0.3px;

    color: rgba(0, 0, 0, 0.35);
    width: 30%;
}

#shop .FriendStatus {
    font-family: SF Pro Text;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.3px;
}

.ModalCard__icon {
    color: #000000;
}

.Tabs--default .TabsItem--selected::after {
    background: #5AB9E5;
}

.FullScreen__Container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

#sex_years .Button {
    height: 48px;
    background: #5374CD;
    border-radius: 20px;
}

#sex_years .FullScreen__Title {
    font-family: SF Pro Text;
    font-style: normal;
    font-weight: 500;
    font-size: 29px;
    line-height: 108.4%;

    text-align: center;
    letter-spacing: -0.3px;

    color: #000000;
    margin: 26px 52px 0;
}

#sex_years .ActionContainer {
    margin-top: 25px;

    min-width: 78vw;
    max-width: 78vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#sex_years .ActionContainer > :not(:first-child) {
    margin-top: 12px;
}

#sex_years .ActionContainer > :last-child {
    margin-top: 25px;
}

#sex_years .ActionContainer .CustomButton {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}

#sex_years .ActionContainer .vkuiCustomSelect {
    width: 100%;
}

#sex_years .ActionContainer .vkuiFormField__border {
    border: 2px solid #66B4FF;
    border-radius: 25px;
}

#sex_years .ActionContainer .vkuiSelect, #sex_years .ActionContainer .vkuiCustomSelect__open {
    font-family: SF Pro Text;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: -0.3px;

    color: #000000;

    height: 41px;

    filter: drop-shadow(0px 3px 29px rgba(0, 0, 0, 0.09));
}