
.FullScreen__Container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    margin-top: -8vh;
}

.FullScreen__Title {
    font-family: TT Firs Neue;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    letter-spacing: -0.115242px;
    text-align: center;
    color: #2D4084;

    margin: 3.45vh 66px 0;
}

.FullScreen__Description {
    font-family: TT Firs Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: -0.115242px;
    text-align: center;
    color: #2D4084;

    margin: 1.6vh 36px 0;
}

.FullScreen__Subdescription {
    font-family: TT Firs Neue;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.115242px;
    color: #2D4084;

    margin: 1.97vh 36px 0;
}

#p0 .CustomButton, #p1 .CustomButton, #p2 .CustomButton, #p3 .CustomButton, #p4 .CustomButton, #p5 .CustomButton, #p6 .CustomButton, #p7 .CustomButton {
    height: auto;
    font-family: TT Firs Neue;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: -0.3px;
    color: #FFFFFF;

    border: 2px solid #66B4FF;
    filter: drop-shadow(0px 3px 29px rgba(0, 0, 0, 0.09));
    border-radius: 25px;
    padding: 20.5px;

    position: fixed;
    bottom: 18.84vh;
    margin: 0 auto;
    max-width: 78vw;
}

#save_photo .CustomButton, #sex_years .CustomButton {
    height: auto;
    font-family: TT Firs Neue;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: -0.3px;
    color: #FFFFFF;

    border: 2px solid #66B4FF;
    filter: drop-shadow(0px 3px 29px rgba(0, 0, 0, 0.09));
    border-radius: 25px;
    padding: 20.5px;
}

#sex_years .ActionContainer {
    position: fixed;
    bottom: 18.84vh;
    margin: 0 auto;

    min-width: 78vw;
    max-width: 78vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#sex_years .ActionContainer > :not(:first-child) {
    margin-top: 12px;
}

#sex_years .ActionContainer > :last-child {
    margin-top: 25px;
}

#sex_years .ActionContainer .CustomButton {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}

#sex_years .ActionContainer .vkuiCustomSelect {
    width: 100%;
}

#sex_years .ActionContainer .vkuiFormField__border {
    border: 2px solid #66B4FF;
    border-radius: 25px;
}

#sex_years .ActionContainer .vkuiSelect, #sex_years .ActionContainer .vkuiCustomSelect__open {
    font-family: 'TT Firs Neue Medium';
    font-size: 18px;
    line-height: 23px;
    letter-spacing: -0.3px;

    color: #000000;

    height: 41px;

    filter: drop-shadow(0px 3px 29px rgba(0, 0, 0, 0.09));
}

#p0 .CustomButton span, #p1 .CustomButton span, #p2 .CustomButton span, #p3 .CustomButton span, #p4 .CustomButton span, #p5 .CustomButton span, #p6 .CustomButton span, #p7 .CustomButton span, #save_photo .CustomButton span {
    max-width: 53vw;
}

#p7 .CustomButton, #p6 .CustomButton {
    position: initial;
}

.ModalCard__actions .CustomButton, #vk_time .CustomButton {
    height: auto;
    font-family: TT Firs Neue;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: -0.3px;
    color: #FFFFFF;

    border: 2px solid #66B4FF;
    filter: drop-shadow(0px 3px 29px rgba(0, 0, 0, 0.09));
    border-radius: 25px;
    padding: 20.5px 0;
    margin: 0 auto;
}

#vk_time .CustomButton {
    font-size: 1.97vh;
}

.ButtonsContainer {
    position: fixed;
    bottom: 5.11vh;

    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.Background {
    z-index: -1;
    position: fixed;
    -webkit-transform: translate(-116.53vw, -17.49vh);
    -moz-transform: translate(-116.53vw, -17.49vh);
    -ms-transform: translate(-116.53vw, -17.49vh);
    -o-transform: translate(-116.53vw, -17.49vh);
    transform: translate(-116.53vw, -17.49vh);
}

.PercentTitle {
    font-family: TT Firs Neue;
    font-style: normal;
    font-weight: 500;
    font-size: 96px;
    line-height: 124px;
    text-align: center;
    letter-spacing: -0.115242px;
    color: #BBD1F4;

    position: fixed;
    bottom: 17.12vh;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 1;
}

.Loading {
    position: fixed;
    top: 0;

    -webkit-transform: translate(-65.33vw, 31.4vh);
    -moz-transform: translate(-65.33vw, 31.4vh);
    -ms-transform: translate(-65.33vw, 31.4vh);
    -o-transform: translate(-65.33vw, 31.4vh);
    transform: translate(-65.33vw, 31.4vh);
}

.PosterHeader {
    font-family: TT Firs Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 2.22vh;
    line-height: 23px;
    letter-spacing: -0.3px;
    color: #2D4084;

    max-width: 72.8vw;

    margin-top: calc(var(--safe-area-inset-top) + var(--panelheader_height_ios));
    margin-left: 28px;
    z-index: 1;
}

.PosterStats {
    z-index: 0;
    position: fixed;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);

    height: 73vh;
    top: 33.5vh;
}

#p7 .FullScreen__Container {
    margin-top: 0;
}

#p5 .TextHeader {
    font-family: TT Firs Neue;
    font-style: normal;
    font-weight: 500;
    font-size: 31px;
    line-height: 40px;
    text-align: center;
    letter-spacing: -0.115242px;
    color: #2D4084;

    margin-top: 22.54vh;
}

#p5 .PriceContainer {
    width: 60.8vw;
    min-height: 14.53vh;

    padding: 35px 54px 20px 34px;

    margin: 3.69vh auto;
    border-radius: 26.9341px;
    -webkit-box-shadow: inset 0 0 0 3.10778px rgba(255, 255, 255, .26), inset 0 0 0 2px #66B4FF, 0 16.5749px 32.4591px rgba(102, 173, 246, 0.47);
    -moz-box-shadow: inset 0 0 0 3.10778px rgba(255, 255, 255, .26), inset 0 0 0 2px #66B4FF, 0 16.5749px 32.4591px rgba(102, 173, 246, 0.47);
    box-shadow: inset 0 0 0 3.10778px rgba(255, 255, 255, .26), inset 0 0 0 2px #66B4FF, 0 16.5749px 32.4591px rgba(102, 173, 246, 0.47);
}

#p5 .PriceContainer > :first-child {
    font-family: TT Firs Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 25px;
    color: #FFFFFF;
}

#p5 .PriceContainer > :last-child {
    display: flex;
    align-items: baseline;
}

#p5 .PriceContainer > :last-child > :first-child {
    font-family: TT Firs Neue;
    font-style: normal;
    font-weight: 500;
    font-size: 72px;
    line-height: 93px;
    color: #FFFFFF;
}

#p5 .PriceContainer > :last-child > :last-child {
    font-family: TT Firs Neue;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 46px;
    color: #2D4084;

    margin-left: 11px;
}

#p5 .CustomButton {
    position: fixed;
    bottom: 12.56vh;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.vkuiCheckbox .vkuiCheckbox__content {
    font-family: TT Firs Neue;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.115242px;
    color: #2D4084;
}

/*
    REDESIGN
*/

.Background2 {
    z-index: -1;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.Onboard {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: calc(var(--safe-area-inset-top) + var(--panelheader_height) + 34px);
}

.Analyze {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: calc(var(--safe-area-inset-top) + var(--panelheader_height) + 49px);
}

.Onboard > img {
    width: 175px;
    height: 175px;

    opacity: 0;
    transform: scale(.5) rotate3d(0, 0, 0, 90deg);
    animation: rotateAnimationIcon 1000ms cubic-bezier(.1, -0.4, .8, 1.5) 1 forwards;
}

@keyframes rotateAnimationIcon {
    from {
        opacity: 0;
        transform: scale(.5) rotate3d(0, 0, 0, 90deg);
    }
    to {
        opacity: 1;
        transform: scale(1) rotate3d(0, 1, 0, 360deg);
    }
}

.Onboard > .header, .Analyze > .header {
    padding: 18px 0 19px 0;
    background: #FFFFFF;
    border-radius: 24px;
    margin-top: 8px;
    width: 256px;

    font-family: "Wix Madefor Display Bold";
    font-size: 24px;
    line-height: 115%;
    letter-spacing: 0;
    text-align: center;
    color: #070F18;
    font-weight: 400;

    transform: scale(0);
    animation: scaleAnimationBlock 400ms cubic-bezier(.22, .91, .52, 1.3) 1 500ms forwards;
}

.Analyze > .header, #analyze_end .Onboard > .header {
    color: #FFFFFF;
    background: radial-gradient(1188.99% 145.68% at 89.21% -18.54%, rgb(121, 199, 255) 0%, rgb(51, 91, 169) 100%);

    transform: none;
    animation: none;
}

#analyze_end .Onboard > .header {
    transform: scale(0);
    animation: scaleAnimationBlock 400ms cubic-bezier(.22, .91, .52, 1.3) 1 500ms forwards;
}

@keyframes scaleAnimationBlock {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.Onboard > .description {
    margin-top: 3.448275862vh;
    width: 312px;

    font-family: "Wix Madefor Display Medium";
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0;
    text-align: center;
    color: #FFFFFF;
    font-weight: 400;

    transform: scale(0);
    animation: scaleAnimationBlock 400ms cubic-bezier(.22, .91, .52, 1.5) 1 1000ms forwards;
}

.Analyze > .description {
    margin-top: 16px;
    width: 312px;

    font-family: "Wix Madefor Display Medium";
    font-size: 18px;
    line-height: 112%;
    letter-spacing: 0;
    text-align: center;
    color: #FFFFFF;
    font-weight: 400;
}

.Onboard > .subdescription {
    margin-top: 5.295566502vh;
    width: 258px;

    font-family: "Wix Madefor Display";
    font-size: 12px;
    line-height: 120%;
    letter-spacing: 0;
    text-align: center;
    color: #41566E;
    font-weight: 400;

    transform: scale(0);
    animation: scaleAnimationBlock 400ms cubic-bezier(.22, .91, .52, 1.5) 1 1500ms forwards;
}

.Button {
    box-shadow: 0 15px 30px 0 rgba(57, 101, 177, 0.65);
    background: radial-gradient(1188.99% 145.68% at 89.21% -18.54%, rgb(121, 199, 255) 0%, rgb(51, 91, 169) 100%);
    border-radius: 30px;
    height: 64px;
    width: 299px;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 12px;

    font-family: "Wix Madefor Display Semibold";
    font-size: 18px;
    line-height: 23px;
    letter-spacing: -0.3px;
    text-align: center;
    color: #FFFFFF;
    font-weight: 400;

    cursor: pointer;
}

.Onboard > .Button, #result .Button {
    position: absolute;
    left: auto;

    bottom: calc(var(--safe-area-inset-bottom) + 6.650246305vh);

    transform: scale(0);
    animation: scaleAnimationBlock 400ms cubic-bezier(.22, .91, .52, 1.5) 1 2500ms forwards;
}

#request_token .Onboard > .Button,
#token_got .Onboard > .Button,
#analyze_end .Onboard > .Button {
    animation: scaleAnimationBlock 400ms cubic-bezier(.22, .91, .52, 1.5) 1 1500ms forwards;
}

.YearsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: calc(var(--safe-area-inset-top) + var(--panelheader_height) + 10.591133vh);
}

.YearsContainer > img {
    width: 175px;
    height: 175px;
}

.YearsContainer > h1 {
    font-family: "Wix Madefor Display Bold";
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0;
    text-align: center;
    color: #FFFFFF;
    font-weight: 400;

    width: 225px;
    margin: 8px 0 0 0;
}

#save_photo .YearsContainer > h1 {
    width: 304px;
}

#save_photo .YearsContainer > .Buttons {
    display: flex;
    gap: 17px;
    width: 321px;
    margin: 0 auto;

    position: absolute;
    bottom: calc(var(--safe-area-inset-bottom) + 6.650246305vh);
}

#save_photo .YearsContainer > .Buttons > :last-child {
    box-shadow: 0 15px 30px 0 rgba(79, 94, 132, 0.65);
    background: radial-gradient(1188.99% 145.68% at 89.21% -18.54%, rgb(255, 255, 255) 0%, rgb(54, 72, 106) 100%);
    color: #050B13;
}

.YearsContainer > .CustomSelect, .YearsContainer > .CustomSelect .vkuiSelect {
    width: 299px;
    height: 56px;

}

.YearsContainer > .CustomSelect .vkuiFormField__border {
    background: linear-gradient(351deg, rgba(0, 0, 0, .01) 0%, rgba(51, 91, 169, .75) 100%);
    border-radius: 30px;
    border: solid 4px #63A4E3;
}

.YearsContainer > :nth-child(3) {
    margin-top: 11.69950739vh;
}

.YearsContainer > :nth-child(4), .YearsContainer > :nth-child(5) {
    margin-top: 20px;
}

.YearsContainer {
    --text_primary: #FFFFFF;
}

.vkuiCustomSelectDropdown {
    border-radius: 15px;
    background: #0C1626;
    --text_primary: #FFFFFF;
}

.vkuiCustomSelectOption--hover {
    background: transparent;
}

#analyze .Wave {
    position: fixed;
    bottom: -228px;
    left: 50%;
    transform: translateX(-50%);
}

#analyze h1.Percent {
    position: fixed;
    bottom: 128px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 0 0 0;

    font-family: "Wix Madefor Display ExtraBold";
    font-size: 96px;
    line-height: 130%;
    letter-spacing: 0;
    text-align: center;
    font-weight: 400;

    background-image: radial-gradient(1188.99% 145.68% at 89.21% -18.54%, rgb(121, 199, 255) 0%, rgb(51, 91, 169) 100%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.Analyze > img {
    width: 175px;
    height: 175px;

    opacity: 0;
    transform: scale(0) rotate3d(0, 0, 0, 0deg);
    animation: analyzeAnimationIcon 2000ms cubic-bezier(.1, -0.5, .8, 1.5) 1 forwards;
}

@keyframes analyzeAnimationIcon {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    20% {
        opacity: 1;
        transform: scale(1);
    }
    80% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0);
    }
}

#result .header, #result .subheader1, #result .subheader2 {
    position: relative;

    background: radial-gradient(1188.99% 145.68% at 89.21% -18.54%, rgb(121, 199, 255) 0%, rgb(51, 91, 169) 100%);

    width: 300px;
    height: 86px;

    margin: calc(var(--safe-area-inset-top) + var(--panelheader_height) + 8.990147783vh) auto 0;

    border-radius: 22.76px;
}

#result .subheader1 {
    margin: 20.27px auto 0;
}

#result .subheader2 {
    margin: 25px auto 0;
}

#result .header > .star {
    position: absolute;
    top: calc(-17px - 50px);
    left: 20.96px;
}

#result .header > .avatar {
    position: absolute;
    top: 7.59px;
    left: -14px;

    border: 2.66px solid #9bc5ff;
    border-radius: 16px;
    width: 64px;
    height: 64px;

    transform: rotate(-5deg);
}

#result .header > h2, #result .subheader1 > h2 {
    margin: 17.83px 0 0 71px;
    width: 175px;

    font-family: "Wix Madefor Display Semibold";
    font-size: 21px;
    line-height: 115%;
    letter-spacing: 0;
    color: #FFFFFF;
    font-weight: 400;
}

#result .subheader1 > h2 {
    margin: 15.73px 0 0 69px;
    width: 186px;
}

#result h1 {
    margin: 15px auto 0 auto;

    font-family: "Wix Madefor Display ExtraBold";
    font-size: 70px;
    line-height: 130%;
    letter-spacing: 0;
    text-align: center;
    font-weight: 400;

    background-image: radial-gradient(1188.99% 145.68% at 89.21%  -18.54%, rgb(121, 199, 255) 0%, rgb(51, 91, 169) 100%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

#result .subheader1 > .star {
    position: absolute;
    top: -5px;
    left: -30px;
}

#result .subheader2 {
    display: flex;
    align-items: end;
    gap: 17px;

    background: #FFFFFF;
}

#result .subheader2 > .star {
    position: absolute;
    top: 37px;
    left: 231px;
}

#result .subheader2 > h1 {
    margin: auto 0 auto 18px;

    font-family: "Wix Madefor Display ExtraBold";
    font-size: 52px;
    line-height: 130%;
    letter-spacing: -6%;
    font-weight: 400;

    background-image: radial-gradient(1188.99% 145.68% at 89.21%  -18.54%, rgb(121, 199, 255) 0%, rgb(51, 91, 169) 100%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

#result .subheader2 > .titles {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 9px;
}

#result .subheader2 > .titles > h2 {
    margin: 0 0 0 0;
    width: 138px;

    font-family: "Wix Madefor Display Semibold";
    font-size: 21px;
    line-height: 92%;
    letter-spacing: 0;
    font-weight: 400;
    color: #000000;
}

#result .subheader2 > .titles > p {
    margin: 0 0 0 0;
    width: 111px;

    font-family: "Wix Madefor Display";
    font-size: 8px;
    line-height: 126%;
    letter-spacing: 0;
    font-weight: 400;
    color: #727272;
}

#result .Button {
    left: 50%;
    transform: scale(1) translateX(-50%);
    animation: none;
}