body {
    --background_content: #2955BE;
}

.FullScreen__Container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.FullScreen__Icon {
    height: 9.85vh;
    width: 9.85vh;
}

.FullScreen__Title {
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.5px;
    color: #FFFFFF;

    margin-top: 4.56vh;
    max-width: 76.53vw;
}

.FullScreen__Description {
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.5px;
    color: rgba(255, 255, 255, 0.9);

    margin-top: 12px;
    max-width: 76.53vw;
}

#p1 .CustomButton, #p2 .CustomButton, #p4 .CustomButton, #p0 .CustomButton {
    width: 89.33vw;
    height: auto;
    padding: 22px 0;
    margin-top: 10.96vh;
    background: #FFFFFF;
    border-radius: 21px;
    font-family: SF Pro Text;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 14px;
    text-align: center;
    letter-spacing: -0.25px;
    color: #000000;

    display: flex;
    justify-content: center;
    align-items: center;
}

#group .CustomButton {
    width: 87.2vw;
    height: auto;
    padding: 10.5px 0;
    background: #217EE0;
    border-radius: 10px;

    font-family: SF Pro Text;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.408px;
    color: #FFFFFF;

    display: flex;
    justify-content: center;
    align-items: center;
}

#p5 .CustomButton, #save_photo .CustomButton, #sex_years .CustomButton, #pay_app .CustomButton {
    width: 80vw;
    height: auto;
    padding: 16.5px 4.53vw;
    background: #FFFFFF;
    border-radius: 10px;
    font-family: TT Firs Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.3px;
    color: #000000;

    display: flex;
    justify-content: center;
    align-items: center;
}

#sex_years .ActionContainer {
    position: fixed;
    bottom: 18.84vh;
    margin: 0 auto;

    min-width: 78vw;
    max-width: 78vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#sex_years .ActionContainer > :not(:first-child) {
    margin-top: 12px;
}

#sex_years .ActionContainer > :last-child {
    margin-top: 25px;
}

#sex_years .ActionContainer .CustomButton {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}

#sex_years .ActionContainer .vkuiCustomSelect {
    width: 100%;
}

#sex_years .ActionContainer .vkuiFormField__border {
    border: 2px solid #ffffff;
}

#sex_years .ActionContainer .vkuiSelect, #sex_years .ActionContainer .vkuiCustomSelect__open {
    font-family: 'TT Firs Neue';
    font-size: 18px;
    line-height: 23px;
    letter-spacing: -0.3px;

    color: #000000;

    height: 41px;

    filter: drop-shadow(0px 3px 29px rgba(0, 0, 0, 0.09));
}

.Background {
    z-index: -1;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
}

#p6 .TextHeader {
    font-family: TT Firs Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 34px;
    letter-spacing: -0.3px;
    color: #FFFFFF;

    margin-top: calc(var(--safe-area-inset-top) + 26px);
    margin-left: 31px;
}

#p6 .TextHeader2 {
    font-family: TT Firs Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 34px;
    letter-spacing: -0.3px;
    color: #FFFFFF;

    margin-top: calc(var(--safe-area-inset-top) + var(--panelheader_height_ios));
    margin-left: 31px;
}

#p6 .TextCounter {
    font-family: TT Firs Neue;
    font-style: normal;
    font-weight: 600;
    font-size: 63px;
    line-height: 81px;
    letter-spacing: -0.3px;
    color: #FFFFFF;

    margin-top: 7px;
    display: flex;
    align-items: center;
    margin-left: 31px;
}

#p6 .TextCounter :last-child {
    margin-left: 20px;
}

#p6 .TextSubCounter {
    font-family: TT Firs Neue;
    font-style: normal;
    font-weight: 500;
    font-size: 47px;
    line-height: 61px;
    letter-spacing: -0.3px;
    color: #FFFFFF;
    margin-left: 31px;
}

#p6 .TextSubCounter2 {
    font-family: TT Firs Neue;
    font-style: normal;
    font-size: 27px;
    line-height: 27px;
    letter-spacing: -0.3px;
    color: #FFFFFF;
    margin-left: 31px;
}

#p6 .TextSubCounter2_2 {
    font-family: TT Firs Neue;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 61px;
    letter-spacing: -0.3px;
    color: #FFFFFF;
    margin-left: 31px;
}

#p6 .CustomButton {
    width: 80vw;
    height: auto;
    padding: 16.5px 4.53vw;
    background: #FFFFFF;
    border-radius: 10px;
    font-family: TT Firs Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.3px;
    color: #000000;

    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    bottom: 8.74vh;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

#p0 .FullScreen__Title {
    font-family: TT Firs Neue;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 39px;
    letter-spacing: -0.3px;
    color: #FFFFFF;

    margin-top: -8.58vh;
    max-width: 76.53vw;
    text-align: left;
}

#p0 .FullScreen__Description {
    font-family: TT Firs Neue;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 114%;
    letter-spacing: -0.3px;
    color: #FFFFFF;

    margin-top: 14px;
    max-width: 76.53vw;
    text-align: left;
}

.PosterHeader {
    font-family: TT Firs Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 2.46vh;
    letter-spacing: -0.3px;
    color: #FFFFFF;
    max-width: 83.2vw;

    margin-top: calc(var(--safe-area-inset-top) + var(--panelheader_height_ios) + 4vh);
    margin-left: 28px;
    z-index: 1;
}

.PosterLikes {
    z-index: 0;
    position: fixed;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);

    height: 73vh;
    top: 33.5vh;
    /*bottom: -6.28vh;*/
}

#vk_likes .CustomButton {
    width: 84.53vw;
    height: auto;
    padding: 2vh 0;
    background: #FFFFFF;
    border-radius: 10px;

    font-family: TT Firs Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 2.1vh;
    letter-spacing: -0.3px;
    color: #000000;

    display: flex;
    justify-content: center;
    align-items: center;
}

.ButtonsContainer {
    position: fixed;
    bottom: 5.91vh;

    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.vkuiCheckbox .vkuiCheckbox__content {
    font-family: TT Firs Neue;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: -0.3px;
    color: #FFFFFF;
}

.vkuiCheckbox {
    max-width: 80vw;
}

.vkuiCheckbox .vkuiLink {
    color: rgb(29, 64, 118);
}

/*
    REDESIGN
*/

.Background2 {
    z-index: -1;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.Onboard, .Analyze {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: calc(var(--safe-area-inset-top) + var(--panelheader_height));
}

.Onboard > .icon,
.YearsContainer > .icon,
.Analyze > .icon {
    position: relative;
    z-index: 3;
}

.Onboard > .icon > img:first-child,
.YearsContainer > .icon > img:first-child,
.Analyze > .icon > img:first-child {
    opacity: 0;
    transform: translateX(-50vw);
    animation: showIconAnimation 700ms cubic-bezier(.1, -0.4, .8, 1.2) 1 forwards;
}

.Onboard > .icon > img:not(:first-child),
.YearsContainer > .icon > img:not(:first-child),
.Analyze > .icon > img:not(:first-child) {
    position: absolute;
    opacity: 0;
    transform: scale(0);
    animation: scaleAnimationBlock 400ms cubic-bezier(.22, .91, .52, 1.3) 1 600ms forwards;
}

@keyframes showIconAnimation {
    from {
        opacity: 0;
        transform: translateX(-50vw);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes scaleAnimationBlock {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.Onboard > .header, .Analyze > .header, .YearsContainer > .header {
    z-index: 2;
    padding: 21px 0;
    border-radius: 24px;

    font-family: "Unbounded Bold";
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -0.07px;
    text-align: center;
    color: #FFFFFF;
    font-weight: 400;

    transform: scale(0);
    animation: scaleAnimationBlock 400ms cubic-bezier(.22, .91, .52, 1.3) 1 500ms forwards;

    box-shadow: 0 15px 30px 0 rgba(177, 79, 57, 0.32);
    background: radial-gradient(224.61% 138.47% at 71.66% 7.61%, rgb(255, 199, 0) 0%, rgb(224, 47, 35) 100%);
}

.Onboard > .description {
    z-index: 1;
    padding: 34px 0;
    border-radius: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: calc(100vw - 17px * 2);
    margin-top: -5px;
    margin-left: auto;
    margin-right: auto;

    transform: scale(0);
    animation: scaleAnimationBlock 400ms cubic-bezier(.22, .91, .52, 1.3) 1 1000ms forwards;

    background: radial-gradient(299.12% 99.95% at 77.57% 31.98%, rgb(255, 255, 255) 0%, rgb(220, 238, 255) 100%);
}

.Onboard > .description > h2 {
    margin: 0 0 0 0;
    width: 278px;

    font-family: "Wix Madefor Display Bold";
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.07px;
    text-align: center;
    color: #000000;
    font-weight: 400;
}

.Onboard > .description > h3 {
    margin: 15px 0 0 0;
    width: 302px;

    font-family: "Wix Madefor Display";
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.06px;
    text-align: center;
    color: #A9A9A9;
    font-weight: 400;
}

.Button {
    box-shadow: 0 15px 30px 0 rgba(57, 101, 177, 0.33);
    background: radial-gradient(438.52% 224.98% at 102.45% -69.49%, rgb(154, 249, 255) 0%, rgb(35, 122, 224) 100%);
    border-radius: 94px;
    height: 64px;
    width: 299px;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 12px;

    font-family: "Wix Madefor Display Semibold";
    font-size: 18px;
    line-height: 23px;
    letter-spacing: -0.3px;
    text-align: center;
    color: #FFFFFF;
    font-weight: 400;

    cursor: pointer;
}

.Onboard > .Button, #result .Button {
    position: absolute;
    left: auto;

    bottom: calc(var(--safe-area-inset-bottom) + 6.650246305vh);

    transform: scale(0);
    animation: scaleAnimationBlock 400ms cubic-bezier(.22, .91, .52, 1.5) 1 1500ms forwards;
}

.YearsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: calc(var(--safe-area-inset-top) + var(--panelheader_height));
}

.YearsContainer > .icon,
.YearsContainer > .icon > img:first-child,
.YearsContainer > .icon > img:not(:first-child),
.YearsContainer > .header {
    opacity: 1;
    transform: none;
    animation: none;
}

#save_photo .YearsContainer > .Buttons {
    display: flex;
    gap: 11px;
    width: 301px;
    margin: 0 auto;

    position: absolute;
    bottom: calc(var(--safe-area-inset-bottom) + 6.650246305vh);
}

#save_photo .YearsContainer > .Buttons > :last-child {
    box-shadow: 0 15px 30px 0 rgba(20, 23, 29, 0.09);
    background: #fff;
    color: #000000;
}

.YearsContainer > .CustomSelect, .YearsContainer > .CustomSelect .vkuiSelect {
    width: 299px;
    height: 56px;
}

.YearsContainer > .CustomSelect .vkuiFormField__border {
    background: #FFFFFF;
    border-radius: 94px;
    border: solid 1px #C4C4C4;
}

.YearsContainer > :nth-child(3) {
    margin-top: 10.34482759vh;
}

.YearsContainer > :nth-child(4), .YearsContainer > :nth-child(5) {
    margin-top: 20px;
}

.YearsContainer {
    --text_primary: #000000;
}

.vkuiCustomSelectDropdown {
    border-radius: 30px;
    background: #FFFFFF;
    --text_primary: #000000;
}

.vkuiCustomSelectOption--hover {
    background: transparent;
}

#analyze .Wave {
    position: fixed;
    bottom: -509.46px;
    left: -173px;
    z-index: 0;
}

#analyze h1.Percent {
    position: fixed;
    bottom: 44px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 0 0 0;

    font-family: "Unbounded ExtraBold";
    font-size: 96px;
    line-height: 119px;
    letter-spacing: 0;
    text-align: center;
    font-weight: 400;

    color: #FFFFFF;

    z-index: 1;
}

#analyze div.header {
    background: #FFFFFF;
    color: #000000;
}

#analyze div.description {
    position: fixed;
    bottom: 187px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 0 0 0;

    font-family: "Wix Madefor Display Semibold";
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -0.07px;
    text-align: center;
    font-weight: 400;

    color: #FFFFFF;
    width: 318px;
    z-index: 1;
}

.Analyze > div.icon {
    display: flex;
    justify-content: center;
}

.Analyze > div.icon > img.icon {
    opacity: 0;
    transform: scale(0);
    animation: analyzeAnimationIcon 2000ms cubic-bezier(.1, -0.5, .8, 1.5) 1 forwards;
}

@keyframes analyzeAnimationIcon {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    20% {
        opacity: 1;
        transform: scale(1);
    }
    80% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0);
    }
}

#result .header {
    width: 293px;
    border-radius: 30px;
    position: relative;
    margin-left: 63.66px;
}

.result > .header > p {
    margin: 0 0 0 75.31px;
}

.result > .header:nth-child(1) {
    height: 141.3px;
    background: radial-gradient(224.61% 138.47% at 71.66% 7.61%, rgb(255, 199, 0) 0%, rgb(224, 47, 35) 100%);

    margin-top: calc(var(--safe-area-inset-top) + var(--panelheader_height) + 5.294334975vh);
}

.result > .header:nth-child(1) > .icon {
    position: absolute;
    top: -24px;
    left: -61px;
}

.result > .header:nth-child(1) > .spray {
    position: absolute;
    top: -23.99px;
    left: 92.34px;

    width: 45.55px;
}

.result > .header:nth-child(1) > :nth-child(4) {
    font-family: "Wix Madefor Display";
    font-size: 15px;
    line-height: 19px;
    letter-spacing: -0.07px;
    text-align: left;
    font-weight: 400;
    color: #FFFFFF;
}

.result > .header:nth-child(1) > :nth-child(5) {
    margin-top: 4.22px;

    font-family: "Unbounded Black";
    font-size: 28px;
    line-height: 35px;
    letter-spacing: -0.07px;
    text-align: left;
    font-weight: 400;
    color: #FFFFFF;
}

.result > .header:nth-child(1) > :nth-child(5) > span {
    margin-top: 13.23px;
    margin-left: -4.7px;

    font-family: "Wix Madefor Display ExtraBold";
    font-size: 15px;
    line-height: 19px;
    letter-spacing: -0.06px;
    text-align: left;
    font-weight: 400;
    color: #FFFFFF;
}

.result > .header:nth-child(1) > :nth-child(6) {
    margin-top: 5.06px;

    font-family: "Wix Madefor Display Bold";
    font-size: 15px;
    line-height: 19px;
    letter-spacing: -0.06px;
    text-align: left;
    font-weight: 400;
    color: #FFFFFF;
}

.result > .header:nth-child(2) {
    margin-top: 20px;
    height: 141.3px;
    background: radial-gradient(199.58% 79.65% at 46.57% 28.05%, rgb(255, 255, 255) 0%, rgb(255, 231, 220) 100%);
}

.result > .header:nth-child(2) > .icon {
    position: absolute;
    top: -10px;
    left: -61px;
}

.result > .header:nth-child(2) > .spray {
    position: absolute;
    top: 58.1px;
    left: 273.34px;

    width: 32px;
}

.result > .header:nth-child(2) > :nth-child(4) {
    font-family: "Wix Madefor Display";
    font-size: 15px;
    line-height: 19px;
    letter-spacing: -0.07px;
    text-align: left;
    font-weight: 400;
    color: #000000;
}

.result > .header:nth-child(2) > :nth-child(5) {
    margin-top: 0.05px;

    font-family: "Unbounded Black";
    font-size: 28px;
    line-height: 35px;
    letter-spacing: -0.07px;
    text-align: left;
    font-weight: 400;
    color: #000000;
}

.result > .header:nth-child(2) > :nth-child(6) {
    margin-top: -3px;

    font-family: "Wix Madefor Display ExtraBold";
    font-size: 15.3px;
    line-height: 19px;
    letter-spacing: -0.06px;
    text-align: left;
    font-weight: 400;
    color: #000000;
}

.result > .header:nth-child(2) > :nth-child(7) {
    margin-top: 9.37px;

    font-family: "Wix Madefor Display Bold";
    font-size: 15px;
    line-height: 19px;
    letter-spacing: -0.06px;
    text-align: left;
    font-weight: 400;
    color: #000000;
}

.result > .header:nth-child(3) {
    margin-top: 20px;
    height: 133.41px;
    background: radial-gradient(438.52% 224.98% at 102.45% -69.49%, rgb(154, 249, 255) 0%, rgb(35, 122, 224) 100%);
}

.result > .header:nth-child(3) > .icon {
    position: absolute;
    top: -23px;
    left: -65px;
}

.result > .header:nth-child(3) > .spray {
    position: absolute;
    top: 100.8px;
    left: 212.34px;

    width: 68px;
}

.result > .header:nth-child(3) > :nth-child(4) {
    font-family: "Unbounded Black";
    font-size: 28px;
    line-height: 35px;
    letter-spacing: -0.07px;
    text-align: left;
    font-weight: 400;
    color: #FFFFFF;
}

.result > .header:nth-child(3) > :nth-child(5) {
    margin-top: -3px;

    font-family: "Wix Madefor Display ExtraBold";
    font-size: 15px;
    line-height: 19px;
    letter-spacing: -0.07px;
    text-align: left;
    font-weight: 400;
    color: #FFFFFF;
}

.result > .header:nth-child(3) > :nth-child(6) {
    margin-top: 3.79px;

    font-family: "Wix Madefor Display Medium";
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.06px;
    text-align: left;
    font-weight: 400;
    color: #FFFFFF;
}

#result .Button {
    left: 50%;
    transform: scale(1) translateX(-50%);
    animation: none;
}