body[scheme="space_gray"] {
    --color_primary: #B07EF9;
    --background_content: #160D1E;
    --text_placeholder: #FFFFFF;
    --button_secondary_background: rgba(176, 126, 249, 0.05);
    --button_secondary_foreground: var(--color_primary);
    --button_gradient: linear-gradient(90deg, #7D1EFD 0%, #B964FA 100%);
    --text_primary: #FFFFFF;
    --text_primary-7: rgba(255, 255, 255, 0.7);
    --text_primary-9: rgba(255, 255, 255, 0.9);
    --button_primary_background: #B07EF9;
    --button_primary_foreground: #FFFFFF;
}

.Question {
    position: relative;
    margin: 12px 18px;
}

.Question_Number {
    font-family: SF Pro Text;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: -0.24px;
    color: var(--text_primary-7);

    width: 100%;
    margin-right: 18px;
}

.Question_Text {
    font-family: SF Pro Text;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.24px;
    color: var(--text_primary);

    width: 100%;
    margin-top: 6px;
    margin-right: 18px;
}

.Question_Button {
    font-family: SF Pro Text;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.24px;
    color: #000000;

    margin-top: 12px;
    padding: 13px 18px;
    border-radius: 100px;
    background: #FFFFFF;
}

.Question_Button--Active {
    background: var(--button_gradient);
    color: #FFFFFF;
}

.Question_Container--Enter {
    animation: slide_left 400ms;
}

.Question_Container--Exit {
    animation: slide_exit 400ms;
}

@keyframes slide_left {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100vw);
        -moz-transform: translateX(100vw);
        -ms-transform: translateX(100vw);
        -o-transform: translateX(100vw);
        transform: translateX(100vw);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes slide_exit {
    0% {
        opacity: 1;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateX(-100vw);
        -moz-transform: translateX(-100vw);
        -ms-transform: translateX(-100vw);
        -o-transform: translateX(-100vw);
        transform: translateX(-100vw);
    }
}

.AnalysisText {
    font-family: SF Pro Text;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.24px;

    margin-top: 18px;
    margin-bottom: 18px;
}

@keyframes slide_top {
    0% {
        opacity: 0;
        -webkit-transform: translateY(100vh);
        -moz-transform: translateY(100vh);
        -ms-transform: translateY(100vh);
        -o-transform: translateY(100vh);
        transform: translateY(100vh);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
}

.SelectStory_Title {
    font-family: SF Pro Text;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    text-align: center;
    letter-spacing: -0.24px;
    color: var(--text_primary);
}

.SelectStory_Text {
    font-family: SF Pro Text;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: -0.24px;
    color: var(--text_primary-9);
    max-width: 318px;
}

.Custom_Button {
    font-family: SF Pro Text;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.24px;
    color: #000000;

    margin-top: 12px;
    padding: 13px 18px;
    border-radius: 12px;
    background: #FFFFFF;

    text-align: center;
}

.Custom_Button--Big {
    font-family: SF Pro Text;
    font-weight: 600;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.24px;

    color: #000000;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 13vh;
    width: 83vw;
    border-radius: 22px;
}

.Custom_Button--Primary {
    background: var(--button_gradient);
    color: #FFFFFF;
}

.Custom_Button--Colored {
    background: #2B1A3A;
    color: #FFFFFF;
}

.Custom_Button--Big > :first-child {
    height: 37px;
}

.Custom_Button--Big > :last-child {
    margin-left: 10px;
    width: 201px;
}

.Result_Title {
    font-family: SF Pro Rounded;
    font-size: 3.5vh;
    text-align: center;
    letter-spacing: -0.24px;
    color: var(--text_primary-9);
}

.Result_Number {
    font-family: ProximaNova Bold;
    font-weight: 800;
    font-size: 22vh;
    text-align: center;
    letter-spacing: -0.24px;
    text-shadow: 0px 0px 60px rgba(191, 128, 251, 0.6);
}

.Result_Text {
    font-family: SF Pro Rounded;
    font-size: 2.5vh;
    letter-spacing: -0.24px;
    color: rgba(255, 255, 255, 0.9);
    color: var(--text_primary-9);
    padding: 16px 20px;
    border-radius: 12px;
    background: #251633;
    text-align: center;
}

.Result_Button {
    font-family: SF Pro Text;
    font-weight: bold;
    font-size: 2.25vh;
    letter-spacing: -0.24px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 10vh;
    padding: 13px 18px;
    border-radius: 100px;
    background: var(--button_gradient);
    box-shadow: 0px 0px 36px rgba(191, 128, 251, 0.5);
}

#result > .Panel__in {
    background: inherit;
}

#repost_result .centered > :last-child {
    width: 75%;
}