.GameCard {
    min-width: 160px;
    height: 174px;
    border-radius: 21px;
    background: var(--card_background);
    -webkit-animation: opacity_show 1s;
    -o-animation: opacity_show 1s;
    animation: opacity_show 1s;
}

.GameCard > :first-child > * {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.GameCard > :first-child > :first-child {
    margin-top: 20px;
}

.GameCard > :first-child > :last-child {
    margin-top: 15px;
}

.GameCard > :first-child > * > :first-child {
    width: 40px;
    height: 40px;
}

.GameCard > :first-child > * > :last-child {
    font-family: SF Pro Rounded;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.38px;
    color: #FFFFFF;
    margin-left: 16px;
}

.GameCard > :last-child {
    font-family: SF Pro Text;
    font-weight: 600;
    font-size: 13px;
    line-height: 24px;
    color: #6F6F6F;
    margin: 15px 20px 20px;
}