.GraphicCard {
    position: relative;
    border-radius: 21px;
    background: var(--card_background);
    overflow: hidden;
    -webkit-animation: opacity_show 1s;
    -o-animation: opacity_show 1s;
    animation: opacity_show 1s;
}

.GraphicCard > * {
    z-index: 1;
}

.GraphicCard > .GraphicCard_Top > :first-child {
    font-family: SF Pro Rounded;
    font-size: 26px;
    line-height: 31px;
    color: #FFFFFF;

    padding: 25px 25px 0;
}

.GraphicCard > .GraphicCard_Top > :last-child {
    font-family: SF Pro Text;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.5px;
    color: rgba(255, 255, 255, 0.75);

    margin: 7px 25px 0;
}

.GraphicCard > .GraphicCard_Bottom {
    display: flex;
    justify-content: center;
    padding: 100px 20px 20px;
    z-index: 1;
    position: relative;
}

.GraphicCard > .GraphicCard_Bottom > * {
    background: var(--card_button_background);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 0;
    border-radius: 14px;
    width: 100%;
}

.GraphicCard > .GraphicCard_Bottom > :first-child > :first-child {
    font-family: SF Pro Text;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #FFFFFF;
}

.GraphicCard > .GraphicCard_Bottom > :first-child > :last-child {
    transform: rotate(90deg);
    margin-left: 5px;
}

.GraphicCard > .GraphicCard_Bottom > :last-child {
    margin-left: 10px;
    max-width: 40px;
}

.GraphicCard > .Graph {
    position: absolute;
    z-index: 0;
    bottom: -18px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}