.HorizontalCard {
    position: relative;
    min-width: 140px;
    min-height: 183px;
    border-radius: 21px;
    background: var(--card_background);
    -webkit-animation: opacity_show 1s;
    -o-animation: opacity_show 1s;
    animation: opacity_show 1s;
}

.HorizontalCard[stretched="true"] {
    min-height: 128px;
    min-width: 87.47vw;
}

.HorizontalCard > .HorizontalCard_Title {
    font-family: SF Pro Rounded;
    font-size: 26px;
    line-height: 31px;
    color: #FFFFFF;
    margin: 28px 18px 12px;
}

.HorizontalCard[type='1'] > .HorizontalCard_Title {
    font-size: 20px;
    line-height: 24px;
    margin: 10px 18px 7px;
}

.HorizontalCard[type='2'] > .HorizontalCard_Title {
    font-family: SF Pro Text;
    font-weight: 500;
    font-size: 13px;
    line-height: 14px;
    text-align: center;
    letter-spacing: -0.5px;
    color: rgba(255, 255, 255, 0.9);
    margin: 20px 31px 0;
}

.HorizontalCard[type='2'] > .HorizontalCard_Description {
    display: none;
}

.HorizontalCard > .HorizontalCard_Icon {
    display: block;
    margin-top: 24px;
    margin-left: 18px;
}

.HorizontalCard > .HorizontalCard_Icon > img {
    height: 24px;
    width: 24px;
}

.HorizontalCard_Description {
    font-family: SF Pro Text;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.5px;
    color: rgba(255, 255, 255, 0.75);
    margin: 12px 18px 0;
}

.HorizontalCard > .HorizontalCard_Description {
    margin: 7px 18px 0;
}

.HorizontalCard_Button {
    background: var(--card_button_background);
    border-radius: 11px;
    position: absolute;
    bottom: 13px;
}

.HorizontalCard[type='2'] > .HorizontalCard_Button {
    right: 10px;
    bottom: 10px;
}

.HorizontalCard > .HorizontalCard_Button[stretched='false'] {
    right: 13px;
}

.HorizontalCard > .HorizontalCard_Button[stretched='true'] {
    left: 12px;
    right: 12px;
}

.HorizontalCard > .HorizontalCard_Button > :first-child {
    display: flex;
    align-items: center;
    justify-content: center;
}

.HorizontalCard > .HorizontalCard_Button > :first-child > .HorizontalCard_Button_Text {
    font-family: SF Pro Text;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #FFFFFF;
    margin: 10px;
}