.MiniGamesCard {
    min-height: 285px;
    border-radius: 21px;
    background: var(--card_background);
    -webkit-animation: opacity_show 1s;
    -o-animation: opacity_show 1s;
    animation: opacity_show 1s;
}

.MiniGamesCard_Subtitle {
    font-family: SF Pro Text;
    font-weight: 600;
    font-size: 13px;
    line-height: 24px;
    text-transform: uppercase;
    color: #6F6F6F;

    padding: 18px 18px 0;
}

.MiniGamesCard_Title {
    font-family: SF Pro Rounded;
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    color: #FFFFFF;

    padding: 12px 18px 0;
}

.MiniGamesCard_Icon {
    width: 34px;
    height: 34px;

    padding: 8px 18px 0;
}

.MiniGamesCard_Description {
    font-family: SF Pro Text;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.5px;
    color: rgba(255, 255, 255, 0.75);

    padding: 8px 18px 0;
}

.MiniGamesCard_Button {
    background: var(--card_button_background);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 27px 16px 0;
    border-radius: 15px;
    height: 46px;

    font-family: SF Pro Text;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
}

.MiniGamesCard_Button > :last-child {
    margin-left: 8px;
}