.Replay {
    position: absolute;
    bottom: 46px;
    left: 26px;
    right: 26px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Replay > .Replay_Hide {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 30px;
    width: 44px;
    height: 28px;
}

.Replay > .Replay_Hide > * {
    padding: 2px 10px;
}

.Replay > .Replay_Settings {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.Replay > .Replay_Settings > .Replay_Pause {
    background: rgba(43, 43, 43, 0.9);
    backdrop-filter: blur(45px);
    border-radius: 25px;
}

.Replay > .Replay_Settings > .Replay_Pause > * {
    padding: 15px;
}

.Replay > .Replay_Settings > .Replay_Slider {
    height: 50px;
    width: 204px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: rgba(43, 43, 43, 0.9);
    backdrop-filter: blur(45px);
}

.SliderSwitch__slider {
    -webkit-border-radius: inherit;
    -moz-border-radius: inherit;
    border-radius: inherit;
    height: 46px;
    background: #FFFFFF;
}

.SliderSwitch__button {
    font-family: SF Pro Text;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: rgba(255, 255, 255, 0.25);
}

.SliderSwitch__button--active {
    font-family: SF Pro Text;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: #212121;
}

.Replay > .Replay_Settings > .Replay_Speed {
    background: rgba(43, 43, 43, 0.9);
    backdrop-filter: blur(45px);
    border-radius: 25px;
}

.Replay > .Replay_Settings > .Replay_Speed > * {
    font-family: SF Pro Rounded;
    font-weight: 800;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    padding: 16px 17px;
}

.Replay > .Replay_Footer {
    display: flex;
    margin-top: 46px;
}

.Replay > .Replay_Footer > * {
    font-family: SF Pro Text;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
}

.Replay > .Replay_Footer > :first-child {
    color: #FFFFFF;
}

.Replay > .Replay_Footer > :last-child {
    color: #545454;
    margin-left: 7.5px;
}

.Replay_Hide-enter {
    transform: translateY(0px);
    transition: all 400ms;
}

.Replay_Hide-exit {
    transform: translateY(91px);
    transition: all 400ms;
}

.Replay_Settings-enter {
    transform: translateY(0px);
    opacity: 1;
    visibility: visible;
    transition: all 400ms;
}

.Replay_Settings-exit {
    transform: translateY(46px);
    opacity: 0;
    visibility: hidden;
    transition: all 400ms;
}