.TransparentButton {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50px;
}

.TransparentButton > :first-child {
    font-family: SF Pro Text;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #FFFFFF;
}

.TransparentButton_After {
    margin-left: 5px;
}